@font-face {
    font-family: 'sharkicons';
    src:    url('fonts/sharkicons.eot?70kwia');
    src:    url('fonts/sharkicons.eot?70kwia#iefix') format('embedded-opentype'),
        url('fonts/sharkicons.ttf?70kwia') format('truetype'),
        url('fonts/sharkicons.woff?70kwia') format('woff'),
        url('fonts/sharkicons.svg?70kwia#sharkicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sharkicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sharkicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sharkicon-broom:before {
    content: "\e000";
}
.sharkicon-comment-mail-one:before {
    content: "\e001";
}
.sharkicon-comment-mail:before {
    content: "\e002";
}
.sharkicon-s2member:before {
    content: "\e003";
}
.sharkicon-websharks:before {
    content: "\e004";
}
.sharkicon-wp-kb-articles:before {
    content: "\e005";
}
.sharkicon-zencache-logo:before {
    content: "\e006";
}
.sharkicon-zencache:before {
    content: "\e007";
}
.sharkicon-wp-sharks:before {
    content: "\e008";
}
.sharkicon-wp-sharks-fin:before {
    content: "\e009";
}
.sharkicon-comet-cache:before {
    content: "\e00a";
}
.sharkicon-comet-cache-logo:before {
    content: "\e00b";
}
.sharkicon-comet-cache-comet:before {
    content: "\e00c";
}
.sharkicon-feat-watch:before {
    content: "\e00d";
}
.sharkicon-feat-server:before {
    content: "\e00e";
}
.sharkicon-feat-layers:before {
    content: "\e00f";
}
.sharkicon-feat-box:before {
    content: "\e010";
}
.sharkicon-feat-ellipsis:before {
    content: "\e011";
}
.sharkicon-typi-group:before {
    content: "\e012";
}
.sharkicon-enty-bookmark:before {
    content: "\e013";
}
.sharkicon-enty-bookmarks:before {
    content: "\e014";
}
.sharkicon-enty-open-book:before {
    content: "\e015";
}
.sharkicon-enty-archive:before {
    content: "\e016";
}
.sharkicon-enty-area-graph:before {
    content: "\e017";
}
.sharkicon-enty-bucket:before {
    content: "\e018";
}
.sharkicon-enty-colors:before {
    content: "\e019";
}
.sharkicon-enty-copy:before {
    content: "\e01a";
}
.sharkicon-enty-drive:before {
    content: "\e01b";
}
.sharkicon-enty-feather:before {
    content: "\e01c";
}
.sharkicon-enty-gauge:before {
    content: "\e01d";
}
.sharkicon-enty-hand:before {
    content: "\e01e";
}
.sharkicon-enty-lab-flask:before {
    content: "\e01f";
}
.sharkicon-enty-mask:before {
    content: "\e020";
}
.sharkicon-enty-medal:before {
    content: "\e021";
}
.sharkicon-enty-exclamation:before {
    content: "\e022";
}
.sharkicon-enty-palette:before {
    content: "\e023";
}
.sharkicon-enty-ruler:before {
    content: "\e024";
}
.sharkicon-enty-shop:before {
    content: "\e025";
}
.sharkicon-enty-basket:before {
    content: "\e026";
}
.sharkicon-enty-cart:before {
    content: "\e027";
}
.sharkicon-enty-traffic-cone:before {
    content: "\e028";
}
.sharkicon-enty-tree:before {
    content: "\e029";
}
.sharkicon-enty-trophy:before {
    content: "\e02a";
}
.sharkicon-enty-v-card:before {
    content: "\e02b";
}
.sharkicon-enty-google-hangouts:before {
    content: "\e02c";
}
.sharkicon-eleg-line-graph:before {
    content: "\e02d";
}
.sharkicon-eleg-male:before {
    content: "\e02e";
}
.sharkicon-eleg-female:before {
    content: "\e02f";
}
.sharkicon-eleg-atom:before {
    content: "\e030";
}
.sharkicon-broc-cart:before {
    content: "\e031";
}
.sharkicon-broc-crap:before {
    content: "\e032";
}
.sharkicon-broc-atom:before {
    content: "\e033";
}
.sharkicon-icom-headphones:before {
    content: "\e034";
}
.sharkicon-icom-barcode:before {
    content: "\e035";
}
.sharkicon-icom-user:before {
    content: "\e036";
}
.sharkicon-icom-users:before {
    content: "\e037";
}
.sharkicon-icom-user-plus:before {
    content: "\e038";
}
.sharkicon-icom-user-minus:before {
    content: "\e039";
}
.sharkicon-icom-user-check:before {
    content: "\e03a";
}
.sharkicon-icom-user-tie:before {
    content: "\e03b";
}
.sharkicon-icom-key:before {
    content: "\e03c";
}
.sharkicon-icom-key2:before {
    content: "\e03d";
}
.sharkicon-icom-happy:before {
    content: "\e03e";
}
.sharkicon-icom-happy2:before {
    content: "\e03f";
}
.sharkicon-icom-smile:before {
    content: "\e040";
}
.sharkicon-icom-smile2:before {
    content: "\e041";
}
.sharkicon-icom-tongue:before {
    content: "\e042";
}
.sharkicon-icom-tongue2:before {
    content: "\e043";
}
.sharkicon-icom-sad:before {
    content: "\e044";
}
.sharkicon-icom-sad2:before {
    content: "\e045";
}
.sharkicon-icom-wink:before {
    content: "\e046";
}
.sharkicon-icom-wink2:before {
    content: "\e047";
}
.sharkicon-icom-grin:before {
    content: "\e048";
}
.sharkicon-icom-grin2:before {
    content: "\e049";
}
.sharkicon-icom-cool:before {
    content: "\e04a";
}
.sharkicon-icom-cool2:before {
    content: "\e04b";
}
.sharkicon-icom-angry:before {
    content: "\e04c";
}
.sharkicon-icom-angry2:before {
    content: "\e04d";
}
.sharkicon-icom-evil:before {
    content: "\e04e";
}
.sharkicon-icom-evil2:before {
    content: "\e04f";
}
.sharkicon-icom-shocked:before {
    content: "\e050";
}
.sharkicon-icom-shocked2:before {
    content: "\e051";
}
.sharkicon-icom-baffled:before {
    content: "\e052";
}
.sharkicon-icom-baffled2:before {
    content: "\e053";
}
.sharkicon-icom-confused:before {
    content: "\e054";
}
.sharkicon-icom-confused2:before {
    content: "\e055";
}
.sharkicon-icom-neutral:before {
    content: "\e056";
}
.sharkicon-icom-neutral2:before {
    content: "\e057";
}
.sharkicon-icom-hipster:before {
    content: "\e058";
}
.sharkicon-icom-hipster2:before {
    content: "\e059";
}
.sharkicon-icom-wondering:before {
    content: "\e05a";
}
.sharkicon-icom-wondering2:before {
    content: "\e05b";
}
.sharkicon-icom-sleepy:before {
    content: "\e05c";
}
.sharkicon-icom-sleepy2:before {
    content: "\e05d";
}
.sharkicon-icom-frustrated:before {
    content: "\e05e";
}
.sharkicon-icom-frustrated2:before {
    content: "\e05f";
}
.sharkicon-icom-crying:before {
    content: "\e060";
}
.sharkicon-icom-crying2:before {
    content: "\e061";
}
.sharkicon-icom-spell-check:before {
    content: "\e062";
}
.sharkicon-icom-command-key:before {
    content: "\e063";
}
.sharkicon-icom-shift-key:before {
    content: "\e064";
}
.sharkicon-icom-control-key:before {
    content: "\e065";
}
.sharkicon-icom-option-key:before {
    content: "\e066";
}
.sharkicon-icom-wordpress:before {
    content: "\e067";
}
.sharkicon-icom-wordpress-square:before {
    content: "\e068";
}
.sharkicon-icom-yahoo:before {
    content: "\e069";
}
.sharkicon-icom-linux:before {
    content: "\e06a";
}
.sharkicon-icom-finder:before {
    content: "\e06b";
}
.sharkicon-icom-android:before {
    content: "\e06c";
}
.sharkicon-icom-reddit:before {
    content: "\e06d";
}
.sharkicon-icom-paypal:before {
    content: "\e06e";
}
.sharkicon-icom-git:before {
    content: "\e06f";
}
.sharkicon-octi-alignment-align:before {
    content: "\e070";
}
.sharkicon-octi-alignment-aligned-to:before {
    content: "\e071";
}
.sharkicon-octi-alignment-unalign:before {
    content: "\e072";
}
.sharkicon-octi-bookmark:before {
    content: "\e073";
}
.sharkicon-octi-broadcast:before {
    content: "\e074";
}
.sharkicon-octi-browser:before {
    content: "\e075";
}
.sharkicon-octi-checklist:before {
    content: "\e076";
}
.sharkicon-octi-circuit-board:before {
    content: "\e077";
}
.sharkicon-octi-clippy:before {
    content: "\e078";
}
.sharkicon-octi-cloud-download:before {
    content: "\e079";
}
.sharkicon-octi-cloud-upload:before {
    content: "\e07a";
}
.sharkicon-octi-comment:before {
    content: "\e07b";
}
.sharkicon-octi-comments:before {
    content: "\e07c";
}
.sharkicon-octi-tach:before {
    content: "\e07d";
}
.sharkicon-octi-device-camera:before {
    content: "\e07e";
}
.sharkicon-octi-device-camera-video:before {
    content: "\e07f";
}
.sharkicon-octi-device-desktop:before {
    content: "\e080";
}
.sharkicon-octi-diff:before {
    content: "\e081";
}
.sharkicon-octi-file-binary:before {
    content: "\e082";
}
.sharkicon-octi-file-media:before {
    content: "\e083";
}
.sharkicon-octi-file-submodule:before {
    content: "\e084";
}
.sharkicon-octi-file-symlink-directory:before {
    content: "\e085";
}
.sharkicon-octi-file-symlink-file:before {
    content: "\e086";
}
.sharkicon-octi-fold:before {
    content: "\e087";
}
.sharkicon-octi-git-branch:before {
    content: "\e088";
}
.sharkicon-octi-git-commit:before {
    content: "\e089";
}
.sharkicon-octi-git-compare:before {
    content: "\e08a";
}
.sharkicon-octi-git-merge:before {
    content: "\e08b";
}
.sharkicon-octi-git-pull-request:before {
    content: "\e08c";
}
.sharkicon-octi-graph:before {
    content: "\e08d";
}
.sharkicon-octi-home:before {
    content: "\e08e";
}
.sharkicon-octi-horizontal-rule:before {
    content: "\e08f";
}
.sharkicon-octi-key:before {
    content: "\e090";
}
.sharkicon-octi-light-bulb:before {
    content: "\e091";
}
.sharkicon-octi-link-external:before {
    content: "\e092";
}
.sharkicon-octi-lock:before {
    content: "\e093";
}
.sharkicon-octi-markdown:before {
    content: "\e094";
}
.sharkicon-octi-microscope:before {
    content: "\e095";
}
.sharkicon-octi-mirror:before {
    content: "\e096";
}
.sharkicon-octi-move-down:before {
    content: "\e097";
}
.sharkicon-octi-move-left:before {
    content: "\e098";
}
.sharkicon-octi-move-right:before {
    content: "\e099";
}
.sharkicon-octi-move-up:before {
    content: "\e09a";
}
.sharkicon-octi-mute:before {
    content: "\e09b";
}
.sharkicon-octi-organization:before {
    content: "\e09c";
}
.sharkicon-octi-package:before {
    content: "\e09d";
}
.sharkicon-octi-paintcan:before {
    content: "\e09e";
}
.sharkicon-octi-person:before {
    content: "\e09f";
}
.sharkicon-octi-plug:before {
    content: "\e0a0";
}
.sharkicon-octi-podium:before {
    content: "\e0a1";
}
.sharkicon-octi-pulse:before {
    content: "\e0a2";
}
.sharkicon-octi-puzzle:before {
    content: "\e0a3";
}
.sharkicon-octi-repo:before {
    content: "\e0a4";
}
.sharkicon-octi-repo-clone:before {
    content: "\e0a5";
}
.sharkicon-octi-repo-force-push:before {
    content: "\e0a6";
}
.sharkicon-octi-repo-forked:before {
    content: "\e0a7";
}
.sharkicon-octi-repo-pull:before {
    content: "\e0a8";
}
.sharkicon-octi-repo-push:before {
    content: "\e0a9";
}
.sharkicon-octi-rocket:before {
    content: "\e0aa";
}
.sharkicon-octi-ruby:before {
    content: "\e0ab";
}
.sharkicon-octi-screen-full:before {
    content: "\e0ac";
}
.sharkicon-octi-screen-normal:before {
    content: "\e0ad";
}
.sharkicon-octi-sign-in:before {
    content: "\e0ae";
}
.sharkicon-octi-sign-out:before {
    content: "\e0af";
}
.sharkicon-octi-split:before {
    content: "\e0b0";
}
.sharkicon-octi-squirrel:before {
    content: "\e0b1";
}
.sharkicon-octi-steps:before {
    content: "\e0b2";
}
.sharkicon-octi-tag:before {
    content: "\e0b3";
}
.sharkicon-octi-telescope:before {
    content: "\e0b4";
}
.sharkicon-octi-terminal:before {
    content: "\e0b5";
}
.sharkicon-octi-unfold:before {
    content: "\e0b6";
}
.sharkicon-octi-versions:before {
    content: "\e0b7";
}
.sharkicon-glass:before {
    content: "\e0b8";
}
.sharkicon-music:before {
    content: "\e0b9";
}
.sharkicon-search:before {
    content: "\e0ba";
}
.sharkicon-envelope-o:before {
    content: "\e0bb";
}
.sharkicon-heart:before {
    content: "\e0bc";
}
.sharkicon-star:before {
    content: "\e0bd";
}
.sharkicon-star-o:before {
    content: "\e0be";
}
.sharkicon-user:before {
    content: "\e0bf";
}
.sharkicon-film:before {
    content: "\e0c0";
}
.sharkicon-th-large:before {
    content: "\e0c1";
}
.sharkicon-th:before {
    content: "\e0c2";
}
.sharkicon-th-list:before {
    content: "\e0c3";
}
.sharkicon-check:before {
    content: "\e0c4";
}
.sharkicon-close:before {
    content: "\e0c5";
}
.sharkicon-search-plus:before {
    content: "\e0c6";
}
.sharkicon-search-minus:before {
    content: "\e0c7";
}
.sharkicon-power-off:before {
    content: "\e0c8";
}
.sharkicon-signal:before {
    content: "\e0c9";
}
.sharkicon-cog:before {
    content: "\e0ca";
}
.sharkicon-trash-o:before {
    content: "\e0cb";
}
.sharkicon-home:before {
    content: "\e0cc";
}
.sharkicon-file-o:before {
    content: "\e0cd";
}
.sharkicon-clock-o:before {
    content: "\e0ce";
}
.sharkicon-road:before {
    content: "\e0cf";
}
.sharkicon-download:before {
    content: "\e0d0";
}
.sharkicon-arrow-circle-o-down:before {
    content: "\e0d1";
}
.sharkicon-arrow-circle-o-up:before {
    content: "\e0d2";
}
.sharkicon-inbox:before {
    content: "\e0d3";
}
.sharkicon-play-circle-o:before {
    content: "\e0d4";
}
.sharkicon-repeat:before {
    content: "\e0d5";
}
.sharkicon-refresh:before {
    content: "\e0d6";
}
.sharkicon-list-alt:before {
    content: "\e0d7";
}
.sharkicon-lock:before {
    content: "\e0d8";
}
.sharkicon-flag:before {
    content: "\e0d9";
}
.sharkicon-headphones:before {
    content: "\e0da";
}
.sharkicon-volume-off:before {
    content: "\e0db";
}
.sharkicon-volume-down:before {
    content: "\e0dc";
}
.sharkicon-volume-up:before {
    content: "\e0dd";
}
.sharkicon-qrcode:before {
    content: "\e0de";
}
.sharkicon-barcode:before {
    content: "\e0df";
}
.sharkicon-tag:before {
    content: "\e0e0";
}
.sharkicon-tags:before {
    content: "\e0e1";
}
.sharkicon-book:before {
    content: "\e0e2";
}
.sharkicon-bookmark:before {
    content: "\e0e3";
}
.sharkicon-print:before {
    content: "\e0e4";
}
.sharkicon-camera:before {
    content: "\e0e5";
}
.sharkicon-font:before {
    content: "\e0e6";
}
.sharkicon-bold:before {
    content: "\e0e7";
}
.sharkicon-italic:before {
    content: "\e0e8";
}
.sharkicon-text-height:before {
    content: "\e0e9";
}
.sharkicon-text-width:before {
    content: "\e0ea";
}
.sharkicon-align-left:before {
    content: "\e0eb";
}
.sharkicon-align-center:before {
    content: "\e0ec";
}
.sharkicon-align-right:before {
    content: "\e0ed";
}
.sharkicon-align-justify:before {
    content: "\e0ee";
}
.sharkicon-list:before {
    content: "\e0ef";
}
.sharkicon-dedent:before {
    content: "\e0f0";
}
.sharkicon-indent:before {
    content: "\e0f1";
}
.sharkicon-video-camera:before {
    content: "\e0f2";
}
.sharkicon-image:before {
    content: "\e0f3";
}
.sharkicon-pencil:before {
    content: "\e0f4";
}
.sharkicon-map-marker:before {
    content: "\e0f5";
}
.sharkicon-adjust:before {
    content: "\e0f6";
}
.sharkicon-tint:before {
    content: "\e0f7";
}
.sharkicon-edit:before {
    content: "\e0f8";
}
.sharkicon-share-square-o:before {
    content: "\e0f9";
}
.sharkicon-check-square-o:before {
    content: "\e0fa";
}
.sharkicon-arrows:before {
    content: "\e0fb";
}
.sharkicon-step-backward:before {
    content: "\e0fc";
}
.sharkicon-fast-backward:before {
    content: "\e0fd";
}
.sharkicon-backward:before {
    content: "\e0fe";
}
.sharkicon-play:before {
    content: "\e0ff";
}
.sharkicon-pause:before {
    content: "\e100";
}
.sharkicon-stop:before {
    content: "\e101";
}
.sharkicon-forward:before {
    content: "\e102";
}
.sharkicon-fast-forward:before {
    content: "\e103";
}
.sharkicon-step-forward:before {
    content: "\e104";
}
.sharkicon-eject:before {
    content: "\e105";
}
.sharkicon-chevron-left:before {
    content: "\e106";
}
.sharkicon-chevron-right:before {
    content: "\e107";
}
.sharkicon-plus-circle:before {
    content: "\e108";
}
.sharkicon-minus-circle:before {
    content: "\e109";
}
.sharkicon-times-circle:before {
    content: "\e10a";
}
.sharkicon-check-circle:before {
    content: "\e10b";
}
.sharkicon-question-circle:before {
    content: "\e10c";
}
.sharkicon-info-circle:before {
    content: "\e10d";
}
.sharkicon-crosshairs:before {
    content: "\e10e";
}
.sharkicon-times-circle-o:before {
    content: "\e10f";
}
.sharkicon-check-circle-o:before {
    content: "\e110";
}
.sharkicon-ban:before {
    content: "\e111";
}
.sharkicon-arrow-left:before {
    content: "\e112";
}
.sharkicon-arrow-right:before {
    content: "\e113";
}
.sharkicon-arrow-up:before {
    content: "\e114";
}
.sharkicon-arrow-down:before {
    content: "\e115";
}
.sharkicon-mail-forward:before {
    content: "\e116";
}
.sharkicon-expand:before {
    content: "\e117";
}
.sharkicon-compress:before {
    content: "\e118";
}
.sharkicon-plus:before {
    content: "\e119";
}
.sharkicon-minus:before {
    content: "\e11a";
}
.sharkicon-asterisk:before {
    content: "\e11b";
}
.sharkicon-exclamation-circle:before {
    content: "\e11c";
}
.sharkicon-gift:before {
    content: "\e11d";
}
.sharkicon-leaf:before {
    content: "\e11e";
}
.sharkicon-fire:before {
    content: "\e11f";
}
.sharkicon-eye:before {
    content: "\e120";
}
.sharkicon-eye-slash:before {
    content: "\e121";
}
.sharkicon-exclamation-triangle:before {
    content: "\e122";
}
.sharkicon-plane:before {
    content: "\e123";
}
.sharkicon-calendar:before {
    content: "\e124";
}
.sharkicon-random:before {
    content: "\e125";
}
.sharkicon-comment:before {
    content: "\e126";
}
.sharkicon-magnet:before {
    content: "\e127";
}
.sharkicon-chevron-up:before {
    content: "\e128";
}
.sharkicon-chevron-down:before {
    content: "\e129";
}
.sharkicon-retweet:before {
    content: "\e12a";
}
.sharkicon-shopping-cart:before {
    content: "\e12b";
}
.sharkicon-folder:before {
    content: "\e12c";
}
.sharkicon-folder-open:before {
    content: "\e12d";
}
.sharkicon-arrows-v:before {
    content: "\e12e";
}
.sharkicon-arrows-h:before {
    content: "\e12f";
}
.sharkicon-bar-chart:before {
    content: "\e130";
}
.sharkicon-twitter-square:before {
    content: "\e131";
}
.sharkicon-facebook-square:before {
    content: "\e132";
}
.sharkicon-camera-retro:before {
    content: "\e133";
}
.sharkicon-key:before {
    content: "\e134";
}
.sharkicon-cogs:before {
    content: "\e135";
}
.sharkicon-comments:before {
    content: "\e136";
}
.sharkicon-thumbs-o-up:before {
    content: "\e137";
}
.sharkicon-thumbs-o-down:before {
    content: "\e138";
}
.sharkicon-star-half:before {
    content: "\e139";
}
.sharkicon-heart-o:before {
    content: "\e13a";
}
.sharkicon-sign-out:before {
    content: "\e13b";
}
.sharkicon-linkedin-square:before {
    content: "\e13c";
}
.sharkicon-thumb-tack:before {
    content: "\e13d";
}
.sharkicon-external-link:before {
    content: "\e13e";
}
.sharkicon-sign-in:before {
    content: "\e13f";
}
.sharkicon-trophy:before {
    content: "\e140";
}
.sharkicon-github-square:before {
    content: "\e141";
}
.sharkicon-upload:before {
    content: "\e142";
}
.sharkicon-lemon-o:before {
    content: "\e143";
}
.sharkicon-phone:before {
    content: "\e144";
}
.sharkicon-square-o:before {
    content: "\e145";
}
.sharkicon-bookmark-o:before {
    content: "\e146";
}
.sharkicon-phone-square:before {
    content: "\e147";
}
.sharkicon-twitter:before {
    content: "\e148";
}
.sharkicon-facebook:before {
    content: "\e149";
}
.sharkicon-github:before {
    content: "\e14a";
}
.sharkicon-unlock:before {
    content: "\e14b";
}
.sharkicon-credit-card:before {
    content: "\e14c";
}
.sharkicon-feed:before {
    content: "\e14d";
}
.sharkicon-hdd-o:before {
    content: "\e14e";
}
.sharkicon-bullhorn:before {
    content: "\e14f";
}
.sharkicon-bell-o:before {
    content: "\e150";
}
.sharkicon-certificate:before {
    content: "\e151";
}
.sharkicon-hand-o-right:before {
    content: "\e152";
}
.sharkicon-hand-o-left:before {
    content: "\e153";
}
.sharkicon-hand-o-up:before {
    content: "\e154";
}
.sharkicon-hand-o-down:before {
    content: "\e155";
}
.sharkicon-arrow-circle-left:before {
    content: "\e156";
}
.sharkicon-arrow-circle-right:before {
    content: "\e157";
}
.sharkicon-arrow-circle-up:before {
    content: "\e158";
}
.sharkicon-arrow-circle-down:before {
    content: "\e159";
}
.sharkicon-globe:before {
    content: "\e15a";
}
.sharkicon-wrench:before {
    content: "\e15b";
}
.sharkicon-tasks:before {
    content: "\e15c";
}
.sharkicon-filter:before {
    content: "\e15d";
}
.sharkicon-briefcase:before {
    content: "\e15e";
}
.sharkicon-arrows-alt:before {
    content: "\e15f";
}
.sharkicon-group:before {
    content: "\e160";
}
.sharkicon-chain:before {
    content: "\e161";
}
.sharkicon-cloud:before {
    content: "\e162";
}
.sharkicon-flask:before {
    content: "\e163";
}
.sharkicon-cut:before {
    content: "\e164";
}
.sharkicon-copy:before {
    content: "\e165";
}
.sharkicon-paperclip:before {
    content: "\e166";
}
.sharkicon-floppy-o:before {
    content: "\e167";
}
.sharkicon-square:before {
    content: "\e168";
}
.sharkicon-bars:before {
    content: "\e169";
}
.sharkicon-list-ul:before {
    content: "\e16a";
}
.sharkicon-list-ol:before {
    content: "\e16b";
}
.sharkicon-strikethrough:before {
    content: "\e16c";
}
.sharkicon-underline:before {
    content: "\e16d";
}
.sharkicon-table:before {
    content: "\e16e";
}
.sharkicon-magic:before {
    content: "\e16f";
}
.sharkicon-truck:before {
    content: "\e170";
}
.sharkicon-pinterest:before {
    content: "\e171";
}
.sharkicon-pinterest-square:before {
    content: "\e172";
}
.sharkicon-google-plus-square:before {
    content: "\e173";
}
.sharkicon-google-plus:before {
    content: "\e174";
}
.sharkicon-money:before {
    content: "\e175";
}
.sharkicon-caret-down:before {
    content: "\e176";
}
.sharkicon-caret-up:before {
    content: "\e177";
}
.sharkicon-caret-left:before {
    content: "\e178";
}
.sharkicon-caret-right:before {
    content: "\e179";
}
.sharkicon-columns:before {
    content: "\e17a";
}
.sharkicon-sort:before {
    content: "\e17b";
}
.sharkicon-sort-desc:before {
    content: "\e17c";
}
.sharkicon-sort-asc:before {
    content: "\e17d";
}
.sharkicon-envelope:before {
    content: "\e17e";
}
.sharkicon-linkedin:before {
    content: "\e17f";
}
.sharkicon-rotate-left:before {
    content: "\e180";
}
.sharkicon-gavel:before {
    content: "\e181";
}
.sharkicon-dashboard:before {
    content: "\e182";
}
.sharkicon-comment-o:before {
    content: "\e183";
}
.sharkicon-comments-o:before {
    content: "\e184";
}
.sharkicon-bolt:before {
    content: "\e185";
}
.sharkicon-sitemap:before {
    content: "\e186";
}
.sharkicon-umbrella:before {
    content: "\e187";
}
.sharkicon-clipboard:before {
    content: "\e188";
}
.sharkicon-lightbulb-o:before {
    content: "\e189";
}
.sharkicon-exchange:before {
    content: "\e18a";
}
.sharkicon-cloud-download:before {
    content: "\e18b";
}
.sharkicon-cloud-upload:before {
    content: "\e18c";
}
.sharkicon-user-md:before {
    content: "\e18d";
}
.sharkicon-stethoscope:before {
    content: "\e18e";
}
.sharkicon-suitcase:before {
    content: "\e18f";
}
.sharkicon-bell:before {
    content: "\e190";
}
.sharkicon-coffee:before {
    content: "\e191";
}
.sharkicon-cutlery:before {
    content: "\e192";
}
.sharkicon-file-text-o:before {
    content: "\e193";
}
.sharkicon-building-o:before {
    content: "\e194";
}
.sharkicon-hospital-o:before {
    content: "\e195";
}
.sharkicon-ambulance:before {
    content: "\e196";
}
.sharkicon-medkit:before {
    content: "\e197";
}
.sharkicon-fighter-jet:before {
    content: "\e198";
}
.sharkicon-beer:before {
    content: "\e199";
}
.sharkicon-h-square:before {
    content: "\e19a";
}
.sharkicon-plus-square:before {
    content: "\e19b";
}
.sharkicon-angle-double-left:before {
    content: "\e19c";
}
.sharkicon-angle-double-right:before {
    content: "\e19d";
}
.sharkicon-angle-double-up:before {
    content: "\e19e";
}
.sharkicon-angle-double-down:before {
    content: "\e19f";
}
.sharkicon-angle-left:before {
    content: "\e1a0";
}
.sharkicon-angle-right:before {
    content: "\e1a1";
}
.sharkicon-angle-up:before {
    content: "\e1a2";
}
.sharkicon-angle-down:before {
    content: "\e1a3";
}
.sharkicon-desktop:before {
    content: "\e1a4";
}
.sharkicon-laptop:before {
    content: "\e1a5";
}
.sharkicon-tablet:before {
    content: "\e1a6";
}
.sharkicon-mobile:before {
    content: "\e1a7";
}
.sharkicon-circle-o:before {
    content: "\e1a8";
}
.sharkicon-quote-left:before {
    content: "\e1a9";
}
.sharkicon-quote-right:before {
    content: "\e1aa";
}
.sharkicon-spinner:before {
    content: "\e1ab";
}
.sharkicon-circle:before {
    content: "\e1ac";
}
.sharkicon-mail-reply:before {
    content: "\e1ad";
}
.sharkicon-github-alt:before {
    content: "\e1ae";
}
.sharkicon-folder-o:before {
    content: "\e1af";
}
.sharkicon-folder-open-o:before {
    content: "\e1b0";
}
.sharkicon-smile-o:before {
    content: "\e1b1";
}
.sharkicon-frown-o:before {
    content: "\e1b2";
}
.sharkicon-meh-o:before {
    content: "\e1b3";
}
.sharkicon-gamepad:before {
    content: "\e1b4";
}
.sharkicon-keyboard-o:before {
    content: "\e1b5";
}
.sharkicon-flag-o:before {
    content: "\e1b6";
}
.sharkicon-flag-checkered:before {
    content: "\e1b7";
}
.sharkicon-terminal:before {
    content: "\e1b8";
}
.sharkicon-code:before {
    content: "\e1b9";
}
.sharkicon-mail-reply-all:before {
    content: "\e1ba";
}
.sharkicon-star-half-empty:before {
    content: "\e1bb";
}
.sharkicon-location-arrow:before {
    content: "\e1bc";
}
.sharkicon-crop:before {
    content: "\e1bd";
}
.sharkicon-code-fork:before {
    content: "\e1be";
}
.sharkicon-chain-broken:before {
    content: "\e1bf";
}
.sharkicon-question:before {
    content: "\e1c0";
}
.sharkicon-info:before {
    content: "\e1c1";
}
.sharkicon-exclamation:before {
    content: "\e1c2";
}
.sharkicon-superscript:before {
    content: "\e1c3";
}
.sharkicon-subscript:before {
    content: "\e1c4";
}
.sharkicon-eraser:before {
    content: "\e1c5";
}
.sharkicon-puzzle-piece:before {
    content: "\e1c6";
}
.sharkicon-microphone:before {
    content: "\e1c7";
}
.sharkicon-microphone-slash:before {
    content: "\e1c8";
}
.sharkicon-shield:before {
    content: "\e1c9";
}
.sharkicon-calendar-o:before {
    content: "\e1ca";
}
.sharkicon-fire-extinguisher:before {
    content: "\e1cb";
}
.sharkicon-rocket:before {
    content: "\e1cc";
}
.sharkicon-maxcdn:before {
    content: "\e1cd";
}
.sharkicon-chevron-circle-left:before {
    content: "\e1ce";
}
.sharkicon-chevron-circle-right:before {
    content: "\e1cf";
}
.sharkicon-chevron-circle-up:before {
    content: "\e1d0";
}
.sharkicon-chevron-circle-down:before {
    content: "\e1d1";
}
.sharkicon-html5:before {
    content: "\e1d2";
}
.sharkicon-css3:before {
    content: "\e1d3";
}
.sharkicon-anchor:before {
    content: "\e1d4";
}
.sharkicon-unlock-alt:before {
    content: "\e1d5";
}
.sharkicon-bullseye:before {
    content: "\e1d6";
}
.sharkicon-ellipsis-h:before {
    content: "\e1d7";
}
.sharkicon-ellipsis-v:before {
    content: "\e1d8";
}
.sharkicon-rss-square:before {
    content: "\e1d9";
}
.sharkicon-play-circle:before {
    content: "\e1da";
}
.sharkicon-ticket:before {
    content: "\e1db";
}
.sharkicon-minus-square:before {
    content: "\e1dc";
}
.sharkicon-minus-square-o:before {
    content: "\e1dd";
}
.sharkicon-level-up:before {
    content: "\e1de";
}
.sharkicon-level-down:before {
    content: "\e1df";
}
.sharkicon-check-square:before {
    content: "\e1e0";
}
.sharkicon-pencil-square:before {
    content: "\e1e1";
}
.sharkicon-external-link-square:before {
    content: "\e1e2";
}
.sharkicon-share-square:before {
    content: "\e1e3";
}
.sharkicon-compass:before {
    content: "\e1e4";
}
.sharkicon-caret-square-o-down:before {
    content: "\e1e5";
}
.sharkicon-caret-square-o-up:before {
    content: "\e1e6";
}
.sharkicon-caret-square-o-right:before {
    content: "\e1e7";
}
.sharkicon-eur:before {
    content: "\e1e8";
}
.sharkicon-gbp:before {
    content: "\e1e9";
}
.sharkicon-dollar:before {
    content: "\e1ea";
}
.sharkicon-inr:before {
    content: "\e1eb";
}
.sharkicon-cny:before {
    content: "\e1ec";
}
.sharkicon-rouble:before {
    content: "\e1ed";
}
.sharkicon-krw:before {
    content: "\e1ee";
}
.sharkicon-bitcoin:before {
    content: "\e1ef";
}
.sharkicon-file:before {
    content: "\e1f0";
}
.sharkicon-file-text:before {
    content: "\e1f1";
}
.sharkicon-sort-alpha-asc:before {
    content: "\e1f2";
}
.sharkicon-sort-alpha-desc:before {
    content: "\e1f3";
}
.sharkicon-sort-amount-asc:before {
    content: "\e1f4";
}
.sharkicon-sort-amount-desc:before {
    content: "\e1f5";
}
.sharkicon-sort-numeric-asc:before {
    content: "\e1f6";
}
.sharkicon-sort-numeric-desc:before {
    content: "\e1f7";
}
.sharkicon-thumbs-up:before {
    content: "\e1f8";
}
.sharkicon-thumbs-down:before {
    content: "\e1f9";
}
.sharkicon-youtube-square:before {
    content: "\e1fa";
}
.sharkicon-youtube:before {
    content: "\e1fb";
}
.sharkicon-xing:before {
    content: "\e1fc";
}
.sharkicon-xing-square:before {
    content: "\e1fd";
}
.sharkicon-youtube-play:before {
    content: "\e1fe";
}
.sharkicon-dropbox:before {
    content: "\e1ff";
}
.sharkicon-stack-overflow:before {
    content: "\e200";
}
.sharkicon-instagram:before {
    content: "\e201";
}
.sharkicon-flickr:before {
    content: "\e202";
}
.sharkicon-adn:before {
    content: "\e203";
}
.sharkicon-bitbucket:before {
    content: "\e204";
}
.sharkicon-bitbucket-square:before {
    content: "\e205";
}
.sharkicon-tumblr:before {
    content: "\e206";
}
.sharkicon-tumblr-square:before {
    content: "\e207";
}
.sharkicon-long-arrow-down:before {
    content: "\e208";
}
.sharkicon-long-arrow-up:before {
    content: "\e209";
}
.sharkicon-long-arrow-left:before {
    content: "\e20a";
}
.sharkicon-long-arrow-right:before {
    content: "\e20b";
}
.sharkicon-apple:before {
    content: "\e20c";
}
.sharkicon-windows:before {
    content: "\e20d";
}
.sharkicon-android:before {
    content: "\e20e";
}
.sharkicon-linux:before {
    content: "\e20f";
}
.sharkicon-dribbble:before {
    content: "\e210";
}
.sharkicon-skype:before {
    content: "\e211";
}
.sharkicon-foursquare:before {
    content: "\e212";
}
.sharkicon-trello:before {
    content: "\e213";
}
.sharkicon-female:before {
    content: "\e214";
}
.sharkicon-male:before {
    content: "\e215";
}
.sharkicon-gittip:before {
    content: "\e216";
}
.sharkicon-sun-o:before {
    content: "\e217";
}
.sharkicon-moon-o:before {
    content: "\e218";
}
.sharkicon-archive:before {
    content: "\e219";
}
.sharkicon-bug:before {
    content: "\e21a";
}
.sharkicon-vk:before {
    content: "\e21b";
}
.sharkicon-weibo:before {
    content: "\e21c";
}
.sharkicon-renren:before {
    content: "\e21d";
}
.sharkicon-pagelines:before {
    content: "\e21e";
}
.sharkicon-stack-exchange:before {
    content: "\e21f";
}
.sharkicon-arrow-circle-o-right:before {
    content: "\e220";
}
.sharkicon-arrow-circle-o-left:before {
    content: "\e221";
}
.sharkicon-caret-square-o-left:before {
    content: "\e222";
}
.sharkicon-dot-circle-o:before {
    content: "\e223";
}
.sharkicon-wheelchair:before {
    content: "\e224";
}
.sharkicon-vimeo-square:before {
    content: "\e225";
}
.sharkicon-try:before {
    content: "\e226";
}
.sharkicon-plus-square-o:before {
    content: "\e227";
}
.sharkicon-space-shuttle:before {
    content: "\e228";
}
.sharkicon-slack:before {
    content: "\e229";
}
.sharkicon-envelope-square:before {
    content: "\e22a";
}
.sharkicon-wordpress:before {
    content: "\e22b";
}
.sharkicon-openid:before {
    content: "\e22c";
}
.sharkicon-bank:before {
    content: "\e22d";
}
.sharkicon-graduation-cap:before {
    content: "\e22e";
}
.sharkicon-yahoo:before {
    content: "\e22f";
}
.sharkicon-google:before {
    content: "\e230";
}
.sharkicon-reddit:before {
    content: "\e231";
}
.sharkicon-reddit-square:before {
    content: "\e232";
}
.sharkicon-stumbleupon-circle:before {
    content: "\e233";
}
.sharkicon-stumbleupon:before {
    content: "\e234";
}
.sharkicon-delicious:before {
    content: "\e235";
}
.sharkicon-digg:before {
    content: "\e236";
}
.sharkicon-pied-piper:before {
    content: "\e237";
}
.sharkicon-pied-piper-alt:before {
    content: "\e238";
}
.sharkicon-drupal:before {
    content: "\e239";
}
.sharkicon-joomla:before {
    content: "\e23a";
}
.sharkicon-language:before {
    content: "\e23b";
}
.sharkicon-fax:before {
    content: "\e23c";
}
.sharkicon-building:before {
    content: "\e23d";
}
.sharkicon-child:before {
    content: "\e23e";
}
.sharkicon-paw:before {
    content: "\e23f";
}
.sharkicon-spoon:before {
    content: "\e240";
}
.sharkicon-cube:before {
    content: "\e241";
}
.sharkicon-cubes:before {
    content: "\e242";
}
.sharkicon-behance:before {
    content: "\e243";
}
.sharkicon-behance-square:before {
    content: "\e244";
}
.sharkicon-steam:before {
    content: "\e245";
}
.sharkicon-steam-square:before {
    content: "\e246";
}
.sharkicon-recycle:before {
    content: "\e247";
}
.sharkicon-automobile:before {
    content: "\e248";
}
.sharkicon-cab:before {
    content: "\e249";
}
.sharkicon-tree:before {
    content: "\e24a";
}
.sharkicon-spotify:before {
    content: "\e24b";
}
.sharkicon-deviantart:before {
    content: "\e24c";
}
.sharkicon-soundcloud:before {
    content: "\e24d";
}
.sharkicon-database:before {
    content: "\e24e";
}
.sharkicon-file-pdf-o:before {
    content: "\e24f";
}
.sharkicon-file-word-o:before {
    content: "\e250";
}
.sharkicon-file-excel-o:before {
    content: "\e251";
}
.sharkicon-file-powerpoint-o:before {
    content: "\e252";
}
.sharkicon-file-image-o:before {
    content: "\e253";
}
.sharkicon-file-archive-o:before {
    content: "\e254";
}
.sharkicon-file-audio-o:before {
    content: "\e255";
}
.sharkicon-file-movie-o:before {
    content: "\e256";
}
.sharkicon-file-code-o:before {
    content: "\e257";
}
.sharkicon-vine:before {
    content: "\e258";
}
.sharkicon-codepen:before {
    content: "\e259";
}
.sharkicon-jsfiddle:before {
    content: "\e25a";
}
.sharkicon-life-bouy:before {
    content: "\e25b";
}
.sharkicon-circle-o-notch:before {
    content: "\e25c";
}
.sharkicon-ra:before {
    content: "\e25d";
}
.sharkicon-empire:before {
    content: "\e25e";
}
.sharkicon-git-square:before {
    content: "\e25f";
}
.sharkicon-git:before {
    content: "\e260";
}
.sharkicon-hacker-news:before {
    content: "\e261";
}
.sharkicon-tencent-weibo:before {
    content: "\e262";
}
.sharkicon-qq:before {
    content: "\e263";
}
.sharkicon-wechat:before {
    content: "\e264";
}
.sharkicon-paper-plane:before {
    content: "\e265";
}
.sharkicon-paper-plane-o:before {
    content: "\e266";
}
.sharkicon-history:before {
    content: "\e267";
}
.sharkicon-circle-thin:before {
    content: "\e268";
}
.sharkicon-header:before {
    content: "\e269";
}
.sharkicon-paragraph:before {
    content: "\e26a";
}
.sharkicon-sliders:before {
    content: "\e26b";
}
.sharkicon-share-alt:before {
    content: "\e26c";
}
.sharkicon-share-alt-square:before {
    content: "\e26d";
}
.sharkicon-bomb:before {
    content: "\e26e";
}
.sharkicon-futbol-o:before {
    content: "\e26f";
}
.sharkicon-tty:before {
    content: "\e270";
}
.sharkicon-binoculars:before {
    content: "\e271";
}
.sharkicon-plug:before {
    content: "\e272";
}
.sharkicon-slideshare:before {
    content: "\e273";
}
.sharkicon-twitch:before {
    content: "\e274";
}
.sharkicon-yelp:before {
    content: "\e275";
}
.sharkicon-newspaper-o:before {
    content: "\e276";
}
.sharkicon-wifi:before {
    content: "\e277";
}
.sharkicon-calculator:before {
    content: "\e278";
}
.sharkicon-paypal:before {
    content: "\e279";
}
.sharkicon-google-wallet:before {
    content: "\e27a";
}
.sharkicon-cc-visa:before {
    content: "\e27b";
}
.sharkicon-cc-mastercard:before {
    content: "\e27c";
}
.sharkicon-cc-discover:before {
    content: "\e27d";
}
.sharkicon-cc-amex:before {
    content: "\e27e";
}
.sharkicon-cc-paypal:before {
    content: "\e27f";
}
.sharkicon-cc-stripe:before {
    content: "\e280";
}
.sharkicon-bell-slash:before {
    content: "\e281";
}
.sharkicon-bell-slash-o:before {
    content: "\e282";
}
.sharkicon-trash:before {
    content: "\e283";
}
.sharkicon-copyright:before {
    content: "\e284";
}
.sharkicon-at:before {
    content: "\e285";
}
.sharkicon-eyedropper:before {
    content: "\e286";
}
.sharkicon-paint-brush:before {
    content: "\e287";
}
.sharkicon-birthday-cake:before {
    content: "\e288";
}
.sharkicon-area-chart:before {
    content: "\e289";
}
.sharkicon-pie-chart:before {
    content: "\e28a";
}
.sharkicon-line-chart:before {
    content: "\e28b";
}
.sharkicon-lastfm:before {
    content: "\e28c";
}
.sharkicon-lastfm-square:before {
    content: "\e28d";
}
.sharkicon-toggle-off:before {
    content: "\e28e";
}
.sharkicon-toggle-on:before {
    content: "\e28f";
}
.sharkicon-bicycle:before {
    content: "\e290";
}
.sharkicon-bus:before {
    content: "\e291";
}
.sharkicon-ioxhost:before {
    content: "\e292";
}
.sharkicon-angellist:before {
    content: "\e293";
}
.sharkicon-cc:before {
    content: "\e294";
}
.sharkicon-ils:before {
    content: "\e295";
}
.sharkicon-meanpath:before {
    content: "\e296";
}
.sharkicon-buysellads:before {
    content: "\e297";
}
.sharkicon-connectdevelop:before {
    content: "\e298";
}
.sharkicon-dashcube:before {
    content: "\e299";
}
.sharkicon-forumbee:before {
    content: "\e29a";
}
.sharkicon-leanpub:before {
    content: "\e29b";
}
.sharkicon-sellsy:before {
    content: "\e29c";
}
.sharkicon-shirtsinbulk:before {
    content: "\e29d";
}
.sharkicon-simplybuilt:before {
    content: "\e29e";
}
.sharkicon-skyatlas:before {
    content: "\e29f";
}
.sharkicon-cart-plus:before {
    content: "\e2a0";
}
.sharkicon-cart-arrow-down:before {
    content: "\e2a1";
}
.sharkicon-diamond:before {
    content: "\e2a2";
}
.sharkicon-ship:before {
    content: "\e2a3";
}
.sharkicon-user-secret:before {
    content: "\e2a4";
}
.sharkicon-motorcycle:before {
    content: "\e2a5";
}
.sharkicon-street-view:before {
    content: "\e2a6";
}
.sharkicon-heartbeat:before {
    content: "\e2a7";
}
.sharkicon-venus:before {
    content: "\e2a8";
}
.sharkicon-mars:before {
    content: "\e2a9";
}
.sharkicon-mercury:before {
    content: "\e2aa";
}
.sharkicon-intersex:before {
    content: "\e2ab";
}
.sharkicon-transgender-alt:before {
    content: "\e2ac";
}
.sharkicon-venus-double:before {
    content: "\e2ad";
}
.sharkicon-mars-double:before {
    content: "\e2ae";
}
.sharkicon-venus-mars:before {
    content: "\e2af";
}
.sharkicon-mars-stroke:before {
    content: "\e2b0";
}
.sharkicon-mars-stroke-v:before {
    content: "\e2b1";
}
.sharkicon-mars-stroke-h:before {
    content: "\e2b2";
}
.sharkicon-neuter:before {
    content: "\e2b3";
}
.sharkicon-genderless:before {
    content: "\e2b4";
}
.sharkicon-facebook-official:before {
    content: "\e2b5";
}
.sharkicon-pinterest-p:before {
    content: "\e2b6";
}
.sharkicon-whatsapp:before {
    content: "\e2b7";
}
.sharkicon-server:before {
    content: "\e2b8";
}
.sharkicon-user-plus:before {
    content: "\e2b9";
}
.sharkicon-user-times:before {
    content: "\e2ba";
}
.sharkicon-bed:before {
    content: "\e2bb";
}
.sharkicon-viacoin:before {
    content: "\e2bc";
}
.sharkicon-train:before {
    content: "\e2bd";
}
.sharkicon-subway:before {
    content: "\e2be";
}
.sharkicon-medium:before {
    content: "\e2bf";
}
.sharkicon-y-combinator:before {
    content: "\e2c0";
}
.sharkicon-optin-monster:before {
    content: "\e2c1";
}
.sharkicon-opencart:before {
    content: "\e2c2";
}
.sharkicon-expeditedssl:before {
    content: "\e2c3";
}
.sharkicon-battery-4:before {
    content: "\e2c4";
}
.sharkicon-battery-3:before {
    content: "\e2c5";
}
.sharkicon-battery-2:before {
    content: "\e2c6";
}
.sharkicon-battery-1:before {
    content: "\e2c7";
}
.sharkicon-battery-0:before {
    content: "\e2c8";
}
.sharkicon-mouse-pointer:before {
    content: "\e2c9";
}
.sharkicon-i-cursor:before {
    content: "\e2ca";
}
.sharkicon-object-group:before {
    content: "\e2cb";
}
.sharkicon-object-ungroup:before {
    content: "\e2cc";
}
.sharkicon-sticky-note:before {
    content: "\e2cd";
}
.sharkicon-sticky-note-o:before {
    content: "\e2ce";
}
.sharkicon-cc-jcb:before {
    content: "\e2cf";
}
.sharkicon-cc-diners-club:before {
    content: "\e2d0";
}
.sharkicon-clone:before {
    content: "\e2d1";
}
.sharkicon-balance-scale:before {
    content: "\e2d2";
}
.sharkicon-hourglass-o:before {
    content: "\e2d3";
}
.sharkicon-hourglass-1:before {
    content: "\e2d4";
}
.sharkicon-hourglass-2:before {
    content: "\e2d5";
}
.sharkicon-hourglass-3:before {
    content: "\e2d6";
}
.sharkicon-hourglass:before {
    content: "\e2d7";
}
.sharkicon-hand-grab-o:before {
    content: "\e2d8";
}
.sharkicon-hand-paper-o:before {
    content: "\e2d9";
}
.sharkicon-hand-scissors-o:before {
    content: "\e2da";
}
.sharkicon-hand-lizard-o:before {
    content: "\e2db";
}
.sharkicon-hand-spock-o:before {
    content: "\e2dc";
}
.sharkicon-hand-pointer-o:before {
    content: "\e2dd";
}
.sharkicon-hand-peace-o:before {
    content: "\e2de";
}
.sharkicon-trademark:before {
    content: "\e2df";
}
.sharkicon-registered:before {
    content: "\e2e0";
}
.sharkicon-creative-commons:before {
    content: "\e2e1";
}
.sharkicon-gg:before {
    content: "\e2e2";
}
.sharkicon-gg-circle:before {
    content: "\e2e3";
}
.sharkicon-tripadvisor:before {
    content: "\e2e4";
}
.sharkicon-odnoklassniki:before {
    content: "\e2e5";
}
.sharkicon-odnoklassniki-square:before {
    content: "\e2e6";
}
.sharkicon-get-pocket:before {
    content: "\e2e7";
}
.sharkicon-wikipedia-w:before {
    content: "\e2e8";
}
.sharkicon-safari:before {
    content: "\e2e9";
}
.sharkicon-chrome:before {
    content: "\e2ea";
}
.sharkicon-firefox:before {
    content: "\e2eb";
}
.sharkicon-opera:before {
    content: "\e2ec";
}
.sharkicon-internet-explorer:before {
    content: "\e2ed";
}
.sharkicon-television:before {
    content: "\e2ee";
}
.sharkicon-contao:before {
    content: "\e2ef";
}
.sharkicon-500px:before {
    content: "\e2f0";
}
.sharkicon-amazon:before {
    content: "\e2f1";
}
.sharkicon-calendar-plus-o:before {
    content: "\e2f2";
}
.sharkicon-calendar-minus-o:before {
    content: "\e2f3";
}
.sharkicon-calendar-times-o:before {
    content: "\e2f4";
}
.sharkicon-calendar-check-o:before {
    content: "\e2f5";
}
.sharkicon-industry:before {
    content: "\e2f6";
}
.sharkicon-map-pin:before {
    content: "\e2f7";
}
.sharkicon-map-signs:before {
    content: "\e2f8";
}
.sharkicon-map-o:before {
    content: "\e2f9";
}
.sharkicon-map:before {
    content: "\e2fa";
}
.sharkicon-commenting:before {
    content: "\e2fb";
}
.sharkicon-commenting-o:before {
    content: "\e2fc";
}
.sharkicon-houzz:before {
    content: "\e2fd";
}
.sharkicon-vimeo:before {
    content: "\e2fe";
}
.sharkicon-black-tie:before {
    content: "\e2ff";
}
.sharkicon-fonticons:before {
    content: "\e300";
}

