$sharkicon-broom: "\e000";
$sharkicon-comment-mail-one: "\e001";
$sharkicon-comment-mail: "\e002";
$sharkicon-s2member: "\e003";
$sharkicon-websharks: "\e004";
$sharkicon-wp-kb-articles: "\e005";
$sharkicon-zencache-logo: "\e006";
$sharkicon-zencache: "\e007";
$sharkicon-feat-watch: "\e008";
$sharkicon-feat-server: "\e009";
$sharkicon-feat-layers: "\e00a";
$sharkicon-feat-box: "\e00b";
$sharkicon-feat-ellipsis: "\e00c";
$sharkicon-typi-group: "\e00d";
$sharkicon-enty-bookmark: "\e00e";
$sharkicon-enty-bookmarks: "\e00f";
$sharkicon-enty-open-book: "\e010";
$sharkicon-enty-archive: "\e011";
$sharkicon-enty-area-graph: "\e012";
$sharkicon-enty-bucket: "\e013";
$sharkicon-enty-colors: "\e014";
$sharkicon-enty-copy: "\e015";
$sharkicon-enty-drive: "\e016";
$sharkicon-enty-feather: "\e017";
$sharkicon-enty-gauge: "\e018";
$sharkicon-enty-hand: "\e019";
$sharkicon-enty-lab-flask: "\e01a";
$sharkicon-enty-mask: "\e01b";
$sharkicon-enty-medal: "\e01c";
$sharkicon-enty-exclamation: "\e01d";
$sharkicon-enty-palette: "\e01e";
$sharkicon-enty-ruler: "\e01f";
$sharkicon-enty-shop: "\e020";
$sharkicon-enty-basket: "\e021";
$sharkicon-enty-cart: "\e022";
$sharkicon-enty-traffic-cone: "\e023";
$sharkicon-enty-tree: "\e024";
$sharkicon-enty-trophy: "\e025";
$sharkicon-enty-v-card: "\e026";
$sharkicon-enty-google-hangouts: "\e027";
$sharkicon-eleg-line-graph: "\e028";
$sharkicon-eleg-male: "\e029";
$sharkicon-eleg-female: "\e02a";
$sharkicon-eleg-atom: "\e02b";
$sharkicon-broc-cart: "\e02c";
$sharkicon-broc-crap: "\e02d";
$sharkicon-broc-atom: "\e02e";
$sharkicon-icom-headphones: "\e02f";
$sharkicon-icom-barcode: "\e030";
$sharkicon-icom-user: "\e031";
$sharkicon-icom-users: "\e032";
$sharkicon-icom-user-plus: "\e033";
$sharkicon-icom-user-minus: "\e034";
$sharkicon-icom-user-check: "\e035";
$sharkicon-icom-user-tie: "\e036";
$sharkicon-icom-key: "\e037";
$sharkicon-icom-key2: "\e038";
$sharkicon-icom-happy: "\e039";
$sharkicon-icom-happy2: "\e03a";
$sharkicon-icom-smile: "\e03b";
$sharkicon-icom-smile2: "\e03c";
$sharkicon-icom-tongue: "\e03d";
$sharkicon-icom-tongue2: "\e03e";
$sharkicon-icom-sad: "\e03f";
$sharkicon-icom-sad2: "\e040";
$sharkicon-icom-wink: "\e041";
$sharkicon-icom-wink2: "\e042";
$sharkicon-icom-grin: "\e043";
$sharkicon-icom-grin2: "\e044";
$sharkicon-icom-cool: "\e045";
$sharkicon-icom-cool2: "\e046";
$sharkicon-icom-angry: "\e047";
$sharkicon-icom-angry2: "\e048";
$sharkicon-icom-evil: "\e049";
$sharkicon-icom-evil2: "\e04a";
$sharkicon-icom-shocked: "\e04b";
$sharkicon-icom-shocked2: "\e04c";
$sharkicon-icom-baffled: "\e04d";
$sharkicon-icom-baffled2: "\e04e";
$sharkicon-icom-confused: "\e04f";
$sharkicon-icom-confused2: "\e050";
$sharkicon-icom-neutral: "\e051";
$sharkicon-icom-neutral2: "\e052";
$sharkicon-icom-hipster: "\e053";
$sharkicon-icom-hipster2: "\e054";
$sharkicon-icom-wondering: "\e055";
$sharkicon-icom-wondering2: "\e056";
$sharkicon-icom-sleepy: "\e057";
$sharkicon-icom-sleepy2: "\e058";
$sharkicon-icom-frustrated: "\e059";
$sharkicon-icom-frustrated2: "\e05a";
$sharkicon-icom-crying: "\e05b";
$sharkicon-icom-crying2: "\e05c";
$sharkicon-icom-spell-check: "\e05d";
$sharkicon-icom-command-key: "\e05e";
$sharkicon-icom-shift-key: "\e05f";
$sharkicon-icom-control-key: "\e060";
$sharkicon-icom-option-key: "\e061";
$sharkicon-icom-wordpress: "\e062";
$sharkicon-icom-wordpress-square: "\e063";
$sharkicon-icom-yahoo: "\e064";
$sharkicon-icom-linux: "\e065";
$sharkicon-icom-finder: "\e066";
$sharkicon-icom-android: "\e067";
$sharkicon-icom-reddit: "\e068";
$sharkicon-icom-paypal: "\e069";
$sharkicon-icom-git: "\e06a";
$sharkicon-octi-alignment-align: "\e06b";
$sharkicon-octi-alignment-aligned-to: "\e06c";
$sharkicon-octi-alignment-unalign: "\e06d";
$sharkicon-octi-bookmark: "\e06e";
$sharkicon-octi-broadcast: "\e06f";
$sharkicon-octi-browser: "\e070";
$sharkicon-octi-checklist: "\e071";
$sharkicon-octi-circuit-board: "\e072";
$sharkicon-octi-clippy: "\e073";
$sharkicon-octi-cloud-download: "\e074";
$sharkicon-octi-cloud-upload: "\e075";
$sharkicon-octi-comment: "\e076";
$sharkicon-octi-comments: "\e077";
$sharkicon-octi-tach: "\e078";
$sharkicon-octi-device-camera: "\e079";
$sharkicon-octi-device-camera-video: "\e07a";
$sharkicon-octi-device-desktop: "\e07b";
$sharkicon-octi-diff: "\e07c";
$sharkicon-octi-file-binary: "\e07d";
$sharkicon-octi-file-media: "\e07e";
$sharkicon-octi-file-submodule: "\e07f";
$sharkicon-octi-file-symlink-directory: "\e080";
$sharkicon-octi-file-symlink-file: "\e081";
$sharkicon-octi-fold: "\e082";
$sharkicon-octi-git-branch: "\e083";
$sharkicon-octi-git-commit: "\e084";
$sharkicon-octi-git-compare: "\e085";
$sharkicon-octi-git-merge: "\e086";
$sharkicon-octi-git-pull-request: "\e087";
$sharkicon-octi-graph: "\e088";
$sharkicon-octi-home: "\e089";
$sharkicon-octi-horizontal-rule: "\e08a";
$sharkicon-octi-key: "\e08b";
$sharkicon-octi-light-bulb: "\e08c";
$sharkicon-octi-link-external: "\e08d";
$sharkicon-octi-lock: "\e08e";
$sharkicon-octi-markdown: "\e08f";
$sharkicon-octi-microscope: "\e090";
$sharkicon-octi-mirror: "\e091";
$sharkicon-octi-move-down: "\e092";
$sharkicon-octi-move-left: "\e093";
$sharkicon-octi-move-right: "\e094";
$sharkicon-octi-move-up: "\e095";
$sharkicon-octi-mute: "\e096";
$sharkicon-octi-organization: "\e097";
$sharkicon-octi-package: "\e098";
$sharkicon-octi-paintcan: "\e099";
$sharkicon-octi-person: "\e09a";
$sharkicon-octi-plug: "\e09b";
$sharkicon-octi-podium: "\e09c";
$sharkicon-octi-pulse: "\e09d";
$sharkicon-octi-puzzle: "\e09e";
$sharkicon-octi-repo: "\e09f";
$sharkicon-octi-repo-clone: "\e0a0";
$sharkicon-octi-repo-force-push: "\e0a1";
$sharkicon-octi-repo-forked: "\e0a2";
$sharkicon-octi-repo-pull: "\e0a3";
$sharkicon-octi-repo-push: "\e0a4";
$sharkicon-octi-rocket: "\e0a5";
$sharkicon-octi-ruby: "\e0a6";
$sharkicon-octi-screen-full: "\e0a7";
$sharkicon-octi-screen-normal: "\e0a8";
$sharkicon-octi-sign-in: "\e0a9";
$sharkicon-octi-sign-out: "\e0aa";
$sharkicon-octi-split: "\e0ab";
$sharkicon-octi-squirrel: "\e0ac";
$sharkicon-octi-steps: "\e0ad";
$sharkicon-octi-tag: "\e0ae";
$sharkicon-octi-telescope: "\e0af";
$sharkicon-octi-terminal: "\e0b0";
$sharkicon-octi-unfold: "\e0b1";
$sharkicon-octi-versions: "\e0b2";
$sharkicon-glass: "\e0b3";
$sharkicon-music: "\e0b4";
$sharkicon-search: "\e0b5";
$sharkicon-envelope-o: "\e0b6";
$sharkicon-heart: "\e0b7";
$sharkicon-star: "\e0b8";
$sharkicon-star-o: "\e0b9";
$sharkicon-user: "\e0ba";
$sharkicon-film: "\e0bb";
$sharkicon-th-large: "\e0bc";
$sharkicon-th: "\e0bd";
$sharkicon-th-list: "\e0be";
$sharkicon-check: "\e0bf";
$sharkicon-close: "\e0c0";
$sharkicon-search-plus: "\e0c1";
$sharkicon-search-minus: "\e0c2";
$sharkicon-power-off: "\e0c3";
$sharkicon-signal: "\e0c4";
$sharkicon-cog: "\e0c5";
$sharkicon-trash-o: "\e0c6";
$sharkicon-home: "\e0c7";
$sharkicon-file-o: "\e0c8";
$sharkicon-clock-o: "\e0c9";
$sharkicon-road: "\e0ca";
$sharkicon-download: "\e0cb";
$sharkicon-arrow-circle-o-down: "\e0cc";
$sharkicon-arrow-circle-o-up: "\e0cd";
$sharkicon-inbox: "\e0ce";
$sharkicon-play-circle-o: "\e0cf";
$sharkicon-repeat: "\e0d0";
$sharkicon-refresh: "\e0d1";
$sharkicon-list-alt: "\e0d2";
$sharkicon-lock: "\e0d3";
$sharkicon-flag: "\e0d4";
$sharkicon-headphones: "\e0d5";
$sharkicon-volume-off: "\e0d6";
$sharkicon-volume-down: "\e0d7";
$sharkicon-volume-up: "\e0d8";
$sharkicon-qrcode: "\e0d9";
$sharkicon-barcode: "\e0da";
$sharkicon-tag: "\e0db";
$sharkicon-tags: "\e0dc";
$sharkicon-book: "\e0dd";
$sharkicon-bookmark: "\e0de";
$sharkicon-print: "\e0df";
$sharkicon-camera: "\e0e0";
$sharkicon-font: "\e0e1";
$sharkicon-bold: "\e0e2";
$sharkicon-italic: "\e0e3";
$sharkicon-text-height: "\e0e4";
$sharkicon-text-width: "\e0e5";
$sharkicon-align-left: "\e0e6";
$sharkicon-align-center: "\e0e7";
$sharkicon-align-right: "\e0e8";
$sharkicon-align-justify: "\e0e9";
$sharkicon-list: "\e0ea";
$sharkicon-dedent: "\e0eb";
$sharkicon-indent: "\e0ec";
$sharkicon-video-camera: "\e0ed";
$sharkicon-image: "\e0ee";
$sharkicon-pencil: "\e0ef";
$sharkicon-map-marker: "\e0f0";
$sharkicon-adjust: "\e0f1";
$sharkicon-tint: "\e0f2";
$sharkicon-edit: "\e0f3";
$sharkicon-share-square-o: "\e0f4";
$sharkicon-check-square-o: "\e0f5";
$sharkicon-arrows: "\e0f6";
$sharkicon-step-backward: "\e0f7";
$sharkicon-fast-backward: "\e0f8";
$sharkicon-backward: "\e0f9";
$sharkicon-play: "\e0fa";
$sharkicon-pause: "\e0fb";
$sharkicon-stop: "\e0fc";
$sharkicon-forward: "\e0fd";
$sharkicon-fast-forward: "\e0fe";
$sharkicon-step-forward: "\e0ff";
$sharkicon-eject: "\e100";
$sharkicon-chevron-left: "\e101";
$sharkicon-chevron-right: "\e102";
$sharkicon-plus-circle: "\e103";
$sharkicon-minus-circle: "\e104";
$sharkicon-times-circle: "\e105";
$sharkicon-check-circle: "\e106";
$sharkicon-question-circle: "\e107";
$sharkicon-info-circle: "\e108";
$sharkicon-crosshairs: "\e109";
$sharkicon-times-circle-o: "\e10a";
$sharkicon-check-circle-o: "\e10b";
$sharkicon-ban: "\e10c";
$sharkicon-arrow-left: "\e10d";
$sharkicon-arrow-right: "\e10e";
$sharkicon-arrow-up: "\e10f";
$sharkicon-arrow-down: "\e110";
$sharkicon-mail-forward: "\e111";
$sharkicon-expand: "\e112";
$sharkicon-compress: "\e113";
$sharkicon-plus: "\e114";
$sharkicon-minus: "\e115";
$sharkicon-asterisk: "\e116";
$sharkicon-exclamation-circle: "\e117";
$sharkicon-gift: "\e118";
$sharkicon-leaf: "\e119";
$sharkicon-fire: "\e11a";
$sharkicon-eye: "\e11b";
$sharkicon-eye-slash: "\e11c";
$sharkicon-exclamation-triangle: "\e11d";
$sharkicon-plane: "\e11e";
$sharkicon-calendar: "\e11f";
$sharkicon-random: "\e120";
$sharkicon-comment: "\e121";
$sharkicon-magnet: "\e122";
$sharkicon-chevron-up: "\e123";
$sharkicon-chevron-down: "\e124";
$sharkicon-retweet: "\e125";
$sharkicon-shopping-cart: "\e126";
$sharkicon-folder: "\e127";
$sharkicon-folder-open: "\e128";
$sharkicon-arrows-v: "\e129";
$sharkicon-arrows-h: "\e12a";
$sharkicon-bar-chart: "\e12b";
$sharkicon-twitter-square: "\e12c";
$sharkicon-facebook-square: "\e12d";
$sharkicon-camera-retro: "\e12e";
$sharkicon-key: "\e12f";
$sharkicon-cogs: "\e130";
$sharkicon-comments: "\e131";
$sharkicon-thumbs-o-up: "\e132";
$sharkicon-thumbs-o-down: "\e133";
$sharkicon-star-half: "\e134";
$sharkicon-heart-o: "\e135";
$sharkicon-sign-out: "\e136";
$sharkicon-linkedin-square: "\e137";
$sharkicon-thumb-tack: "\e138";
$sharkicon-external-link: "\e139";
$sharkicon-sign-in: "\e13a";
$sharkicon-trophy: "\e13b";
$sharkicon-github-square: "\e13c";
$sharkicon-upload: "\e13d";
$sharkicon-lemon-o: "\e13e";
$sharkicon-phone: "\e13f";
$sharkicon-square-o: "\e140";
$sharkicon-bookmark-o: "\e141";
$sharkicon-phone-square: "\e142";
$sharkicon-twitter: "\e143";
$sharkicon-facebook: "\e144";
$sharkicon-github: "\e145";
$sharkicon-unlock: "\e146";
$sharkicon-credit-card: "\e147";
$sharkicon-feed: "\e148";
$sharkicon-hdd-o: "\e149";
$sharkicon-bullhorn: "\e14a";
$sharkicon-bell-o: "\e14b";
$sharkicon-certificate: "\e14c";
$sharkicon-hand-o-right: "\e14d";
$sharkicon-hand-o-left: "\e14e";
$sharkicon-hand-o-up: "\e14f";
$sharkicon-hand-o-down: "\e150";
$sharkicon-arrow-circle-left: "\e151";
$sharkicon-arrow-circle-right: "\e152";
$sharkicon-arrow-circle-up: "\e153";
$sharkicon-arrow-circle-down: "\e154";
$sharkicon-globe: "\e155";
$sharkicon-wrench: "\e156";
$sharkicon-tasks: "\e157";
$sharkicon-filter: "\e158";
$sharkicon-briefcase: "\e159";
$sharkicon-arrows-alt: "\e15a";
$sharkicon-group: "\e15b";
$sharkicon-chain: "\e15c";
$sharkicon-cloud: "\e15d";
$sharkicon-flask: "\e15e";
$sharkicon-cut: "\e15f";
$sharkicon-copy: "\e160";
$sharkicon-paperclip: "\e161";
$sharkicon-floppy-o: "\e162";
$sharkicon-square: "\e163";
$sharkicon-bars: "\e164";
$sharkicon-list-ul: "\e165";
$sharkicon-list-ol: "\e166";
$sharkicon-strikethrough: "\e167";
$sharkicon-underline: "\e168";
$sharkicon-table: "\e169";
$sharkicon-magic: "\e16a";
$sharkicon-truck: "\e16b";
$sharkicon-pinterest: "\e16c";
$sharkicon-pinterest-square: "\e16d";
$sharkicon-google-plus-square: "\e16e";
$sharkicon-google-plus: "\e16f";
$sharkicon-money: "\e170";
$sharkicon-caret-down: "\e171";
$sharkicon-caret-up: "\e172";
$sharkicon-caret-left: "\e173";
$sharkicon-caret-right: "\e174";
$sharkicon-columns: "\e175";
$sharkicon-sort: "\e176";
$sharkicon-sort-desc: "\e177";
$sharkicon-sort-asc: "\e178";
$sharkicon-envelope: "\e179";
$sharkicon-linkedin: "\e17a";
$sharkicon-rotate-left: "\e17b";
$sharkicon-gavel: "\e17c";
$sharkicon-dashboard: "\e17d";
$sharkicon-comment-o: "\e17e";
$sharkicon-comments-o: "\e17f";
$sharkicon-bolt: "\e180";
$sharkicon-sitemap: "\e181";
$sharkicon-umbrella: "\e182";
$sharkicon-clipboard: "\e183";
$sharkicon-lightbulb-o: "\e184";
$sharkicon-exchange: "\e185";
$sharkicon-cloud-download: "\e186";
$sharkicon-cloud-upload: "\e187";
$sharkicon-user-md: "\e188";
$sharkicon-stethoscope: "\e189";
$sharkicon-suitcase: "\e18a";
$sharkicon-bell: "\e18b";
$sharkicon-coffee: "\e18c";
$sharkicon-cutlery: "\e18d";
$sharkicon-file-text-o: "\e18e";
$sharkicon-building-o: "\e18f";
$sharkicon-hospital-o: "\e190";
$sharkicon-ambulance: "\e191";
$sharkicon-medkit: "\e192";
$sharkicon-fighter-jet: "\e193";
$sharkicon-beer: "\e194";
$sharkicon-h-square: "\e195";
$sharkicon-plus-square: "\e196";
$sharkicon-angle-double-left: "\e197";
$sharkicon-angle-double-right: "\e198";
$sharkicon-angle-double-up: "\e199";
$sharkicon-angle-double-down: "\e19a";
$sharkicon-angle-left: "\e19b";
$sharkicon-angle-right: "\e19c";
$sharkicon-angle-up: "\e19d";
$sharkicon-angle-down: "\e19e";
$sharkicon-desktop: "\e19f";
$sharkicon-laptop: "\e1a0";
$sharkicon-tablet: "\e1a1";
$sharkicon-mobile: "\e1a2";
$sharkicon-circle-o: "\e1a3";
$sharkicon-quote-left: "\e1a4";
$sharkicon-quote-right: "\e1a5";
$sharkicon-spinner: "\e1a6";
$sharkicon-circle: "\e1a7";
$sharkicon-mail-reply: "\e1a8";
$sharkicon-github-alt: "\e1a9";
$sharkicon-folder-o: "\e1aa";
$sharkicon-folder-open-o: "\e1ab";
$sharkicon-smile-o: "\e1ac";
$sharkicon-frown-o: "\e1ad";
$sharkicon-meh-o: "\e1ae";
$sharkicon-gamepad: "\e1af";
$sharkicon-keyboard-o: "\e1b0";
$sharkicon-flag-o: "\e1b1";
$sharkicon-flag-checkered: "\e1b2";
$sharkicon-terminal: "\e1b3";
$sharkicon-code: "\e1b4";
$sharkicon-mail-reply-all: "\e1b5";
$sharkicon-star-half-empty: "\e1b6";
$sharkicon-location-arrow: "\e1b7";
$sharkicon-crop: "\e1b8";
$sharkicon-code-fork: "\e1b9";
$sharkicon-chain-broken: "\e1ba";
$sharkicon-question: "\e1bb";
$sharkicon-info: "\e1bc";
$sharkicon-exclamation: "\e1bd";
$sharkicon-superscript: "\e1be";
$sharkicon-subscript: "\e1bf";
$sharkicon-eraser: "\e1c0";
$sharkicon-puzzle-piece: "\e1c1";
$sharkicon-microphone: "\e1c2";
$sharkicon-microphone-slash: "\e1c3";
$sharkicon-shield: "\e1c4";
$sharkicon-calendar-o: "\e1c5";
$sharkicon-fire-extinguisher: "\e1c6";
$sharkicon-rocket: "\e1c7";
$sharkicon-maxcdn: "\e1c8";
$sharkicon-chevron-circle-left: "\e1c9";
$sharkicon-chevron-circle-right: "\e1ca";
$sharkicon-chevron-circle-up: "\e1cb";
$sharkicon-chevron-circle-down: "\e1cc";
$sharkicon-html5: "\e1cd";
$sharkicon-css3: "\e1ce";
$sharkicon-anchor: "\e1cf";
$sharkicon-unlock-alt: "\e1d0";
$sharkicon-bullseye: "\e1d1";
$sharkicon-ellipsis-h: "\e1d2";
$sharkicon-ellipsis-v: "\e1d3";
$sharkicon-rss-square: "\e1d4";
$sharkicon-play-circle: "\e1d5";
$sharkicon-ticket: "\e1d6";
$sharkicon-minus-square: "\e1d7";
$sharkicon-minus-square-o: "\e1d8";
$sharkicon-level-up: "\e1d9";
$sharkicon-level-down: "\e1da";
$sharkicon-check-square: "\e1db";
$sharkicon-pencil-square: "\e1dc";
$sharkicon-external-link-square: "\e1dd";
$sharkicon-share-square: "\e1de";
$sharkicon-compass: "\e1df";
$sharkicon-caret-square-o-down: "\e1e0";
$sharkicon-caret-square-o-up: "\e1e1";
$sharkicon-caret-square-o-right: "\e1e2";
$sharkicon-eur: "\e1e3";
$sharkicon-gbp: "\e1e4";
$sharkicon-dollar: "\e1e5";
$sharkicon-inr: "\e1e6";
$sharkicon-cny: "\e1e7";
$sharkicon-rouble: "\e1e8";
$sharkicon-krw: "\e1e9";
$sharkicon-bitcoin: "\e1ea";
$sharkicon-file: "\e1eb";
$sharkicon-file-text: "\e1ec";
$sharkicon-sort-alpha-asc: "\e1ed";
$sharkicon-sort-alpha-desc: "\e1ee";
$sharkicon-sort-amount-asc: "\e1ef";
$sharkicon-sort-amount-desc: "\e1f0";
$sharkicon-sort-numeric-asc: "\e1f1";
$sharkicon-sort-numeric-desc: "\e1f2";
$sharkicon-thumbs-up: "\e1f3";
$sharkicon-thumbs-down: "\e1f4";
$sharkicon-youtube-square: "\e1f5";
$sharkicon-youtube: "\e1f6";
$sharkicon-xing: "\e1f7";
$sharkicon-xing-square: "\e1f8";
$sharkicon-youtube-play: "\e1f9";
$sharkicon-dropbox: "\e1fa";
$sharkicon-stack-overflow: "\e1fb";
$sharkicon-instagram: "\e1fc";
$sharkicon-flickr: "\e1fd";
$sharkicon-adn: "\e1fe";
$sharkicon-bitbucket: "\e1ff";
$sharkicon-bitbucket-square: "\e200";
$sharkicon-tumblr: "\e201";
$sharkicon-tumblr-square: "\e202";
$sharkicon-long-arrow-down: "\e203";
$sharkicon-long-arrow-up: "\e204";
$sharkicon-long-arrow-left: "\e205";
$sharkicon-long-arrow-right: "\e206";
$sharkicon-apple: "\e207";
$sharkicon-windows: "\e208";
$sharkicon-android: "\e209";
$sharkicon-linux: "\e20a";
$sharkicon-dribbble: "\e20b";
$sharkicon-skype: "\e20c";
$sharkicon-foursquare: "\e20d";
$sharkicon-trello: "\e20e";
$sharkicon-female: "\e20f";
$sharkicon-male: "\e210";
$sharkicon-gittip: "\e211";
$sharkicon-sun-o: "\e212";
$sharkicon-moon-o: "\e213";
$sharkicon-archive: "\e214";
$sharkicon-bug: "\e215";
$sharkicon-vk: "\e216";
$sharkicon-weibo: "\e217";
$sharkicon-renren: "\e218";
$sharkicon-pagelines: "\e219";
$sharkicon-stack-exchange: "\e21a";
$sharkicon-arrow-circle-o-right: "\e21b";
$sharkicon-arrow-circle-o-left: "\e21c";
$sharkicon-caret-square-o-left: "\e21d";
$sharkicon-dot-circle-o: "\e21e";
$sharkicon-wheelchair: "\e21f";
$sharkicon-vimeo-square: "\e220";
$sharkicon-try: "\e221";
$sharkicon-plus-square-o: "\e222";
$sharkicon-space-shuttle: "\e223";
$sharkicon-slack: "\e224";
$sharkicon-envelope-square: "\e225";
$sharkicon-wordpress: "\e226";
$sharkicon-openid: "\e227";
$sharkicon-bank: "\e228";
$sharkicon-graduation-cap: "\e229";
$sharkicon-yahoo: "\e22a";
$sharkicon-google: "\e22b";
$sharkicon-reddit: "\e22c";
$sharkicon-reddit-square: "\e22d";
$sharkicon-stumbleupon-circle: "\e22e";
$sharkicon-stumbleupon: "\e22f";
$sharkicon-delicious: "\e230";
$sharkicon-digg: "\e231";
$sharkicon-pied-piper: "\e232";
$sharkicon-pied-piper-alt: "\e233";
$sharkicon-drupal: "\e234";
$sharkicon-joomla: "\e235";
$sharkicon-language: "\e236";
$sharkicon-fax: "\e237";
$sharkicon-building: "\e238";
$sharkicon-child: "\e239";
$sharkicon-paw: "\e23a";
$sharkicon-spoon: "\e23b";
$sharkicon-cube: "\e23c";
$sharkicon-cubes: "\e23d";
$sharkicon-behance: "\e23e";
$sharkicon-behance-square: "\e23f";
$sharkicon-steam: "\e240";
$sharkicon-steam-square: "\e241";
$sharkicon-recycle: "\e242";
$sharkicon-automobile: "\e243";
$sharkicon-cab: "\e244";
$sharkicon-tree: "\e245";
$sharkicon-spotify: "\e246";
$sharkicon-deviantart: "\e247";
$sharkicon-soundcloud: "\e248";
$sharkicon-database: "\e249";
$sharkicon-file-pdf-o: "\e24a";
$sharkicon-file-word-o: "\e24b";
$sharkicon-file-excel-o: "\e24c";
$sharkicon-file-powerpoint-o: "\e24d";
$sharkicon-file-image-o: "\e24e";
$sharkicon-file-archive-o: "\e24f";
$sharkicon-file-audio-o: "\e250";
$sharkicon-file-movie-o: "\e251";
$sharkicon-file-code-o: "\e252";
$sharkicon-vine: "\e253";
$sharkicon-codepen: "\e254";
$sharkicon-jsfiddle: "\e255";
$sharkicon-life-bouy: "\e256";
$sharkicon-circle-o-notch: "\e257";
$sharkicon-ra: "\e258";
$sharkicon-empire: "\e259";
$sharkicon-git-square: "\e25a";
$sharkicon-git: "\e25b";
$sharkicon-hacker-news: "\e25c";
$sharkicon-tencent-weibo: "\e25d";
$sharkicon-qq: "\e25e";
$sharkicon-wechat: "\e25f";
$sharkicon-paper-plane: "\e260";
$sharkicon-paper-plane-o: "\e261";
$sharkicon-history: "\e262";
$sharkicon-circle-thin: "\e263";
$sharkicon-header: "\e264";
$sharkicon-paragraph: "\e265";
$sharkicon-sliders: "\e266";
$sharkicon-share-alt: "\e267";
$sharkicon-share-alt-square: "\e268";
$sharkicon-bomb: "\e269";
$sharkicon-futbol-o: "\e26a";
$sharkicon-tty: "\e26b";
$sharkicon-binoculars: "\e26c";
$sharkicon-plug: "\e26d";
$sharkicon-slideshare: "\e26e";
$sharkicon-twitch: "\e26f";
$sharkicon-yelp: "\e270";
$sharkicon-newspaper-o: "\e271";
$sharkicon-wifi: "\e272";
$sharkicon-calculator: "\e273";
$sharkicon-paypal: "\e274";
$sharkicon-google-wallet: "\e275";
$sharkicon-cc-visa: "\e276";
$sharkicon-cc-mastercard: "\e277";
$sharkicon-cc-discover: "\e278";
$sharkicon-cc-amex: "\e279";
$sharkicon-cc-paypal: "\e27a";
$sharkicon-cc-stripe: "\e27b";
$sharkicon-bell-slash: "\e27c";
$sharkicon-bell-slash-o: "\e27d";
$sharkicon-trash: "\e27e";
$sharkicon-copyright: "\e27f";
$sharkicon-at: "\e280";
$sharkicon-eyedropper: "\e281";
$sharkicon-paint-brush: "\e282";
$sharkicon-birthday-cake: "\e283";
$sharkicon-area-chart: "\e284";
$sharkicon-pie-chart: "\e285";
$sharkicon-line-chart: "\e286";
$sharkicon-lastfm: "\e287";
$sharkicon-lastfm-square: "\e288";
$sharkicon-toggle-off: "\e289";
$sharkicon-toggle-on: "\e28a";
$sharkicon-bicycle: "\e28b";
$sharkicon-bus: "\e28c";
$sharkicon-ioxhost: "\e28d";
$sharkicon-angellist: "\e28e";
$sharkicon-cc: "\e28f";
$sharkicon-ils: "\e290";
$sharkicon-meanpath: "\e291";
$sharkicon-buysellads: "\e292";
$sharkicon-connectdevelop: "\e293";
$sharkicon-dashcube: "\e294";
$sharkicon-forumbee: "\e295";
$sharkicon-leanpub: "\e296";
$sharkicon-sellsy: "\e297";
$sharkicon-shirtsinbulk: "\e298";
$sharkicon-simplybuilt: "\e299";
$sharkicon-skyatlas: "\e29a";
$sharkicon-cart-plus: "\e29b";
$sharkicon-cart-arrow-down: "\e29c";
$sharkicon-diamond: "\e29d";
$sharkicon-ship: "\e29e";
$sharkicon-user-secret: "\e29f";
$sharkicon-motorcycle: "\e2a0";
$sharkicon-street-view: "\e2a1";
$sharkicon-heartbeat: "\e2a2";
$sharkicon-venus: "\e2a3";
$sharkicon-mars: "\e2a4";
$sharkicon-mercury: "\e2a5";
$sharkicon-intersex: "\e2a6";
$sharkicon-transgender-alt: "\e2a7";
$sharkicon-venus-double: "\e2a8";
$sharkicon-mars-double: "\e2a9";
$sharkicon-venus-mars: "\e2aa";
$sharkicon-mars-stroke: "\e2ab";
$sharkicon-mars-stroke-v: "\e2ac";
$sharkicon-mars-stroke-h: "\e2ad";
$sharkicon-neuter: "\e2ae";
$sharkicon-genderless: "\e2af";
$sharkicon-facebook-official: "\e2b0";
$sharkicon-pinterest-p: "\e2b1";
$sharkicon-whatsapp: "\e2b2";
$sharkicon-server: "\e2b3";
$sharkicon-user-plus: "\e2b4";
$sharkicon-user-times: "\e2b5";
$sharkicon-bed: "\e2b6";
$sharkicon-viacoin: "\e2b7";
$sharkicon-train: "\e2b8";
$sharkicon-subway: "\e2b9";
$sharkicon-medium: "\e2ba";
$sharkicon-y-combinator: "\e2bb";
$sharkicon-optin-monster: "\e2bc";
$sharkicon-opencart: "\e2bd";
$sharkicon-expeditedssl: "\e2be";
$sharkicon-battery-4: "\e2bf";
$sharkicon-battery-3: "\e2c0";
$sharkicon-battery-2: "\e2c1";
$sharkicon-battery-1: "\e2c2";
$sharkicon-battery-0: "\e2c3";
$sharkicon-mouse-pointer: "\e2c4";
$sharkicon-i-cursor: "\e2c5";
$sharkicon-object-group: "\e2c6";
$sharkicon-object-ungroup: "\e2c7";
$sharkicon-sticky-note: "\e2c8";
$sharkicon-sticky-note-o: "\e2c9";
$sharkicon-cc-jcb: "\e2ca";
$sharkicon-cc-diners-club: "\e2cb";
$sharkicon-clone: "\e2cc";
$sharkicon-balance-scale: "\e2cd";
$sharkicon-hourglass-o: "\e2ce";
$sharkicon-hourglass-1: "\e2cf";
$sharkicon-hourglass-2: "\e2d0";
$sharkicon-hourglass-3: "\e2d1";
$sharkicon-hourglass: "\e2d2";
$sharkicon-hand-grab-o: "\e2d3";
$sharkicon-hand-paper-o: "\e2d4";
$sharkicon-hand-scissors-o: "\e2d5";
$sharkicon-hand-lizard-o: "\e2d6";
$sharkicon-hand-spock-o: "\e2d7";
$sharkicon-hand-pointer-o: "\e2d8";
$sharkicon-hand-peace-o: "\e2d9";
$sharkicon-trademark: "\e2da";
$sharkicon-registered: "\e2db";
$sharkicon-creative-commons: "\e2dc";
$sharkicon-gg: "\e2dd";
$sharkicon-gg-circle: "\e2de";
$sharkicon-tripadvisor: "\e2df";
$sharkicon-odnoklassniki: "\e2e0";
$sharkicon-odnoklassniki-square: "\e2e1";
$sharkicon-get-pocket: "\e2e2";
$sharkicon-wikipedia-w: "\e2e3";
$sharkicon-safari: "\e2e4";
$sharkicon-chrome: "\e2e5";
$sharkicon-firefox: "\e2e6";
$sharkicon-opera: "\e2e7";
$sharkicon-internet-explorer: "\e2e8";
$sharkicon-television: "\e2e9";
$sharkicon-contao: "\e2ea";
$sharkicon-500px: "\e2eb";
$sharkicon-amazon: "\e2ec";
$sharkicon-calendar-plus-o: "\e2ed";
$sharkicon-calendar-minus-o: "\e2ee";
$sharkicon-calendar-times-o: "\e2ef";
$sharkicon-calendar-check-o: "\e2f0";
$sharkicon-industry: "\e2f1";
$sharkicon-map-pin: "\e2f2";
$sharkicon-map-signs: "\e2f3";
$sharkicon-map-o: "\e2f4";
$sharkicon-map: "\e2f5";
$sharkicon-commenting: "\e2f6";
$sharkicon-commenting-o: "\e2f7";
$sharkicon-houzz: "\e2f8";
$sharkicon-vimeo: "\e2f9";
$sharkicon-black-tie: "\e2fa";
$sharkicon-fonticons: "\e2fb";
