// UTF-8 map.
$sharkicons: (
  broom: '\e000',
  comment-mail-one: '\e001',
  comment-mail: '\e002',
  s2member: '\e003',
  websharks: '\e004',
  wp-kb-articles: '\e005',
  zencache-logo: '\e006',
  zencache: '\e007',
  feat-watch: '\e008',
  feat-server: '\e009',
  feat-layers: '\e00a',
  feat-box: '\e00b',
  feat-ellipsis: '\e00c',
  typi-group: '\e00d',
  enty-bookmark: '\e00e',
  enty-bookmarks: '\e00f',
  enty-open-book: '\e010',
  enty-archive: '\e011',
  enty-area-graph: '\e012',
  enty-bucket: '\e013',
  enty-colors: '\e014',
  enty-copy: '\e015',
  enty-drive: '\e016',
  enty-feather: '\e017',
  enty-gauge: '\e018',
  enty-hand: '\e019',
  enty-lab-flask: '\e01a',
  enty-mask: '\e01b',
  enty-medal: '\e01c',
  enty-exclamation: '\e01d',
  enty-palette: '\e01e',
  enty-ruler: '\e01f',
  enty-shop: '\e020',
  enty-basket: '\e021',
  enty-cart: '\e022',
  enty-traffic-cone: '\e023',
  enty-tree: '\e024',
  enty-trophy: '\e025',
  enty-v-card: '\e026',
  enty-google-hangouts: '\e027',
  eleg-line-graph: '\e028',
  eleg-male: '\e029',
  eleg-female: '\e02a',
  eleg-atom: '\e02b',
  broc-cart: '\e02c',
  broc-crap: '\e02d',
  broc-atom: '\e02e',
  icom-headphones: '\e02f',
  icom-barcode: '\e030',
  icom-user: '\e031',
  icom-users: '\e032',
  icom-user-plus: '\e033',
  icom-user-minus: '\e034',
  icom-user-check: '\e035',
  icom-user-tie: '\e036',
  icom-key: '\e037',
  icom-key2: '\e038',
  icom-happy: '\e039',
  icom-happy2: '\e03a',
  icom-smile: '\e03b',
  icom-smile2: '\e03c',
  icom-tongue: '\e03d',
  icom-tongue2: '\e03e',
  icom-sad: '\e03f',
  icom-sad2: '\e040',
  icom-wink: '\e041',
  icom-wink2: '\e042',
  icom-grin: '\e043',
  icom-grin2: '\e044',
  icom-cool: '\e045',
  icom-cool2: '\e046',
  icom-angry: '\e047',
  icom-angry2: '\e048',
  icom-evil: '\e049',
  icom-evil2: '\e04a',
  icom-shocked: '\e04b',
  icom-shocked2: '\e04c',
  icom-baffled: '\e04d',
  icom-baffled2: '\e04e',
  icom-confused: '\e04f',
  icom-confused2: '\e050',
  icom-neutral: '\e051',
  icom-neutral2: '\e052',
  icom-hipster: '\e053',
  icom-hipster2: '\e054',
  icom-wondering: '\e055',
  icom-wondering2: '\e056',
  icom-sleepy: '\e057',
  icom-sleepy2: '\e058',
  icom-frustrated: '\e059',
  icom-frustrated2: '\e05a',
  icom-crying: '\e05b',
  icom-crying2: '\e05c',
  icom-spell-check: '\e05d',
  icom-command-key: '\e05e',
  icom-shift-key: '\e05f',
  icom-control-key: '\e060',
  icom-option-key: '\e061',
  icom-wordpress: '\e062',
  icom-wordpress-square: '\e063',
  icom-yahoo: '\e064',
  icom-linux: '\e065',
  icom-finder: '\e066',
  icom-android: '\e067',
  icom-reddit: '\e068',
  icom-paypal: '\e069',
  icom-git: '\e06a',
  octi-alignment-align: '\e06b',
  octi-alignment-aligned-to: '\e06c',
  octi-alignment-unalign: '\e06d',
  octi-bookmark: '\e06e',
  octi-broadcast: '\e06f',
  octi-browser: '\e070',
  octi-checklist: '\e071',
  octi-circuit-board: '\e072',
  octi-clippy: '\e073',
  octi-cloud-download: '\e074',
  octi-cloud-upload: '\e075',
  octi-comment: '\e076',
  octi-comments: '\e077',
  octi-tach: '\e078',
  octi-device-camera: '\e079',
  octi-device-camera-video: '\e07a',
  octi-device-desktop: '\e07b',
  octi-diff: '\e07c',
  octi-file-binary: '\e07d',
  octi-file-media: '\e07e',
  octi-file-submodule: '\e07f',
  octi-file-symlink-directory: '\e080',
  octi-file-symlink-file: '\e081',
  octi-fold: '\e082',
  octi-git-branch: '\e083',
  octi-git-commit: '\e084',
  octi-git-compare: '\e085',
  octi-git-merge: '\e086',
  octi-git-pull-request: '\e087',
  octi-graph: '\e088',
  octi-home: '\e089',
  octi-horizontal-rule: '\e08a',
  octi-key: '\e08b',
  octi-light-bulb: '\e08c',
  octi-link-external: '\e08d',
  octi-lock: '\e08e',
  octi-markdown: '\e08f',
  octi-microscope: '\e090',
  octi-mirror: '\e091',
  octi-move-down: '\e092',
  octi-move-left: '\e093',
  octi-move-right: '\e094',
  octi-move-up: '\e095',
  octi-mute: '\e096',
  octi-organization: '\e097',
  octi-package: '\e098',
  octi-paintcan: '\e099',
  octi-person: '\e09a',
  octi-plug: '\e09b',
  octi-podium: '\e09c',
  octi-pulse: '\e09d',
  octi-puzzle: '\e09e',
  octi-repo: '\e09f',
  octi-repo-clone: '\e0a0',
  octi-repo-force-push: '\e0a1',
  octi-repo-forked: '\e0a2',
  octi-repo-pull: '\e0a3',
  octi-repo-push: '\e0a4',
  octi-rocket: '\e0a5',
  octi-ruby: '\e0a6',
  octi-screen-full: '\e0a7',
  octi-screen-normal: '\e0a8',
  octi-sign-in: '\e0a9',
  octi-sign-out: '\e0aa',
  octi-split: '\e0ab',
  octi-squirrel: '\e0ac',
  octi-steps: '\e0ad',
  octi-tag: '\e0ae',
  octi-telescope: '\e0af',
  octi-terminal: '\e0b0',
  octi-unfold: '\e0b1',
  octi-versions: '\e0b2',
  glass: '\e0b3',
  music: '\e0b4',
  search: '\e0b5',
  envelope-o: '\e0b6',
  heart: '\e0b7',
  star: '\e0b8',
  star-o: '\e0b9',
  user: '\e0ba',
  film: '\e0bb',
  th-large: '\e0bc',
  th: '\e0bd',
  th-list: '\e0be',
  check: '\e0bf',
  close: '\e0c0',
  search-plus: '\e0c1',
  search-minus: '\e0c2',
  power-off: '\e0c3',
  signal: '\e0c4',
  cog: '\e0c5',
  trash-o: '\e0c6',
  home: '\e0c7',
  file-o: '\e0c8',
  clock-o: '\e0c9',
  road: '\e0ca',
  download: '\e0cb',
  arrow-circle-o-down: '\e0cc',
  arrow-circle-o-up: '\e0cd',
  inbox: '\e0ce',
  play-circle-o: '\e0cf',
  repeat: '\e0d0',
  refresh: '\e0d1',
  list-alt: '\e0d2',
  lock: '\e0d3',
  flag: '\e0d4',
  headphones: '\e0d5',
  volume-off: '\e0d6',
  volume-down: '\e0d7',
  volume-up: '\e0d8',
  qrcode: '\e0d9',
  barcode: '\e0da',
  tag: '\e0db',
  tags: '\e0dc',
  book: '\e0dd',
  bookmark: '\e0de',
  print: '\e0df',
  camera: '\e0e0',
  font: '\e0e1',
  bold: '\e0e2',
  italic: '\e0e3',
  text-height: '\e0e4',
  text-width: '\e0e5',
  align-left: '\e0e6',
  align-center: '\e0e7',
  align-right: '\e0e8',
  align-justify: '\e0e9',
  list: '\e0ea',
  dedent: '\e0eb',
  indent: '\e0ec',
  video-camera: '\e0ed',
  image: '\e0ee',
  pencil: '\e0ef',
  map-marker: '\e0f0',
  adjust: '\e0f1',
  tint: '\e0f2',
  edit: '\e0f3',
  share-square-o: '\e0f4',
  check-square-o: '\e0f5',
  arrows: '\e0f6',
  step-backward: '\e0f7',
  fast-backward: '\e0f8',
  backward: '\e0f9',
  play: '\e0fa',
  pause: '\e0fb',
  stop: '\e0fc',
  forward: '\e0fd',
  fast-forward: '\e0fe',
  step-forward: '\e0ff',
  eject: '\e100',
  chevron-left: '\e101',
  chevron-right: '\e102',
  plus-circle: '\e103',
  minus-circle: '\e104',
  times-circle: '\e105',
  check-circle: '\e106',
  question-circle: '\e107',
  info-circle: '\e108',
  crosshairs: '\e109',
  times-circle-o: '\e10a',
  check-circle-o: '\e10b',
  ban: '\e10c',
  arrow-left: '\e10d',
  arrow-right: '\e10e',
  arrow-up: '\e10f',
  arrow-down: '\e110',
  mail-forward: '\e111',
  expand: '\e112',
  compress: '\e113',
  plus: '\e114',
  minus: '\e115',
  asterisk: '\e116',
  exclamation-circle: '\e117',
  gift: '\e118',
  leaf: '\e119',
  fire: '\e11a',
  eye: '\e11b',
  eye-slash: '\e11c',
  exclamation-triangle: '\e11d',
  plane: '\e11e',
  calendar: '\e11f',
  random: '\e120',
  comment: '\e121',
  magnet: '\e122',
  chevron-up: '\e123',
  chevron-down: '\e124',
  retweet: '\e125',
  shopping-cart: '\e126',
  folder: '\e127',
  folder-open: '\e128',
  arrows-v: '\e129',
  arrows-h: '\e12a',
  bar-chart: '\e12b',
  twitter-square: '\e12c',
  facebook-square: '\e12d',
  camera-retro: '\e12e',
  key: '\e12f',
  cogs: '\e130',
  comments: '\e131',
  thumbs-o-up: '\e132',
  thumbs-o-down: '\e133',
  star-half: '\e134',
  heart-o: '\e135',
  sign-out: '\e136',
  linkedin-square: '\e137',
  thumb-tack: '\e138',
  external-link: '\e139',
  sign-in: '\e13a',
  trophy: '\e13b',
  github-square: '\e13c',
  upload: '\e13d',
  lemon-o: '\e13e',
  phone: '\e13f',
  square-o: '\e140',
  bookmark-o: '\e141',
  phone-square: '\e142',
  twitter: '\e143',
  facebook: '\e144',
  github: '\e145',
  unlock: '\e146',
  credit-card: '\e147',
  feed: '\e148',
  hdd-o: '\e149',
  bullhorn: '\e14a',
  bell-o: '\e14b',
  certificate: '\e14c',
  hand-o-right: '\e14d',
  hand-o-left: '\e14e',
  hand-o-up: '\e14f',
  hand-o-down: '\e150',
  arrow-circle-left: '\e151',
  arrow-circle-right: '\e152',
  arrow-circle-up: '\e153',
  arrow-circle-down: '\e154',
  globe: '\e155',
  wrench: '\e156',
  tasks: '\e157',
  filter: '\e158',
  briefcase: '\e159',
  arrows-alt: '\e15a',
  group: '\e15b',
  chain: '\e15c',
  cloud: '\e15d',
  flask: '\e15e',
  cut: '\e15f',
  copy: '\e160',
  paperclip: '\e161',
  floppy-o: '\e162',
  square: '\e163',
  bars: '\e164',
  list-ul: '\e165',
  list-ol: '\e166',
  strikethrough: '\e167',
  underline: '\e168',
  table: '\e169',
  magic: '\e16a',
  truck: '\e16b',
  pinterest: '\e16c',
  pinterest-square: '\e16d',
  google-plus-square: '\e16e',
  google-plus: '\e16f',
  money: '\e170',
  caret-down: '\e171',
  caret-up: '\e172',
  caret-left: '\e173',
  caret-right: '\e174',
  columns: '\e175',
  sort: '\e176',
  sort-desc: '\e177',
  sort-asc: '\e178',
  envelope: '\e179',
  linkedin: '\e17a',
  rotate-left: '\e17b',
  gavel: '\e17c',
  dashboard: '\e17d',
  comment-o: '\e17e',
  comments-o: '\e17f',
  bolt: '\e180',
  sitemap: '\e181',
  umbrella: '\e182',
  clipboard: '\e183',
  lightbulb-o: '\e184',
  exchange: '\e185',
  cloud-download: '\e186',
  cloud-upload: '\e187',
  user-md: '\e188',
  stethoscope: '\e189',
  suitcase: '\e18a',
  bell: '\e18b',
  coffee: '\e18c',
  cutlery: '\e18d',
  file-text-o: '\e18e',
  building-o: '\e18f',
  hospital-o: '\e190',
  ambulance: '\e191',
  medkit: '\e192',
  fighter-jet: '\e193',
  beer: '\e194',
  h-square: '\e195',
  plus-square: '\e196',
  angle-double-left: '\e197',
  angle-double-right: '\e198',
  angle-double-up: '\e199',
  angle-double-down: '\e19a',
  angle-left: '\e19b',
  angle-right: '\e19c',
  angle-up: '\e19d',
  angle-down: '\e19e',
  desktop: '\e19f',
  laptop: '\e1a0',
  tablet: '\e1a1',
  mobile: '\e1a2',
  circle-o: '\e1a3',
  quote-left: '\e1a4',
  quote-right: '\e1a5',
  spinner: '\e1a6',
  circle: '\e1a7',
  mail-reply: '\e1a8',
  github-alt: '\e1a9',
  folder-o: '\e1aa',
  folder-open-o: '\e1ab',
  smile-o: '\e1ac',
  frown-o: '\e1ad',
  meh-o: '\e1ae',
  gamepad: '\e1af',
  keyboard-o: '\e1b0',
  flag-o: '\e1b1',
  flag-checkered: '\e1b2',
  terminal: '\e1b3',
  code: '\e1b4',
  mail-reply-all: '\e1b5',
  star-half-empty: '\e1b6',
  location-arrow: '\e1b7',
  crop: '\e1b8',
  code-fork: '\e1b9',
  chain-broken: '\e1ba',
  question: '\e1bb',
  info: '\e1bc',
  exclamation: '\e1bd',
  superscript: '\e1be',
  subscript: '\e1bf',
  eraser: '\e1c0',
  puzzle-piece: '\e1c1',
  microphone: '\e1c2',
  microphone-slash: '\e1c3',
  shield: '\e1c4',
  calendar-o: '\e1c5',
  fire-extinguisher: '\e1c6',
  rocket: '\e1c7',
  maxcdn: '\e1c8',
  chevron-circle-left: '\e1c9',
  chevron-circle-right: '\e1ca',
  chevron-circle-up: '\e1cb',
  chevron-circle-down: '\e1cc',
  html5: '\e1cd',
  css3: '\e1ce',
  anchor: '\e1cf',
  unlock-alt: '\e1d0',
  bullseye: '\e1d1',
  ellipsis-h: '\e1d2',
  ellipsis-v: '\e1d3',
  rss-square: '\e1d4',
  play-circle: '\e1d5',
  ticket: '\e1d6',
  minus-square: '\e1d7',
  minus-square-o: '\e1d8',
  level-up: '\e1d9',
  level-down: '\e1da',
  check-square: '\e1db',
  pencil-square: '\e1dc',
  external-link-square: '\e1dd',
  share-square: '\e1de',
  compass: '\e1df',
  caret-square-o-down: '\e1e0',
  caret-square-o-up: '\e1e1',
  caret-square-o-right: '\e1e2',
  eur: '\e1e3',
  gbp: '\e1e4',
  dollar: '\e1e5',
  inr: '\e1e6',
  cny: '\e1e7',
  rouble: '\e1e8',
  krw: '\e1e9',
  bitcoin: '\e1ea',
  file: '\e1eb',
  file-text: '\e1ec',
  sort-alpha-asc: '\e1ed',
  sort-alpha-desc: '\e1ee',
  sort-amount-asc: '\e1ef',
  sort-amount-desc: '\e1f0',
  sort-numeric-asc: '\e1f1',
  sort-numeric-desc: '\e1f2',
  thumbs-up: '\e1f3',
  thumbs-down: '\e1f4',
  youtube-square: '\e1f5',
  youtube: '\e1f6',
  xing: '\e1f7',
  xing-square: '\e1f8',
  youtube-play: '\e1f9',
  dropbox: '\e1fa',
  stack-overflow: '\e1fb',
  instagram: '\e1fc',
  flickr: '\e1fd',
  adn: '\e1fe',
  bitbucket: '\e1ff',
  bitbucket-square: '\e200',
  tumblr: '\e201',
  tumblr-square: '\e202',
  long-arrow-down: '\e203',
  long-arrow-up: '\e204',
  long-arrow-left: '\e205',
  long-arrow-right: '\e206',
  apple: '\e207',
  windows: '\e208',
  android: '\e209',
  linux: '\e20a',
  dribbble: '\e20b',
  skype: '\e20c',
  foursquare: '\e20d',
  trello: '\e20e',
  female: '\e20f',
  male: '\e210',
  gittip: '\e211',
  sun-o: '\e212',
  moon-o: '\e213',
  archive: '\e214',
  bug: '\e215',
  vk: '\e216',
  weibo: '\e217',
  renren: '\e218',
  pagelines: '\e219',
  stack-exchange: '\e21a',
  arrow-circle-o-right: '\e21b',
  arrow-circle-o-left: '\e21c',
  caret-square-o-left: '\e21d',
  dot-circle-o: '\e21e',
  wheelchair: '\e21f',
  vimeo-square: '\e220',
  try: '\e221',
  plus-square-o: '\e222',
  space-shuttle: '\e223',
  slack: '\e224',
  envelope-square: '\e225',
  wordpress: '\e226',
  openid: '\e227',
  bank: '\e228',
  graduation-cap: '\e229',
  yahoo: '\e22a',
  google: '\e22b',
  reddit: '\e22c',
  reddit-square: '\e22d',
  stumbleupon-circle: '\e22e',
  stumbleupon: '\e22f',
  delicious: '\e230',
  digg: '\e231',
  pied-piper: '\e232',
  pied-piper-alt: '\e233',
  drupal: '\e234',
  joomla: '\e235',
  language: '\e236',
  fax: '\e237',
  building: '\e238',
  child: '\e239',
  paw: '\e23a',
  spoon: '\e23b',
  cube: '\e23c',
  cubes: '\e23d',
  behance: '\e23e',
  behance-square: '\e23f',
  steam: '\e240',
  steam-square: '\e241',
  recycle: '\e242',
  automobile: '\e243',
  cab: '\e244',
  tree: '\e245',
  spotify: '\e246',
  deviantart: '\e247',
  soundcloud: '\e248',
  database: '\e249',
  file-pdf-o: '\e24a',
  file-word-o: '\e24b',
  file-excel-o: '\e24c',
  file-powerpoint-o: '\e24d',
  file-image-o: '\e24e',
  file-archive-o: '\e24f',
  file-audio-o: '\e250',
  file-movie-o: '\e251',
  file-code-o: '\e252',
  vine: '\e253',
  codepen: '\e254',
  jsfiddle: '\e255',
  life-bouy: '\e256',
  circle-o-notch: '\e257',
  ra: '\e258',
  empire: '\e259',
  git-square: '\e25a',
  git: '\e25b',
  hacker-news: '\e25c',
  tencent-weibo: '\e25d',
  qq: '\e25e',
  wechat: '\e25f',
  paper-plane: '\e260',
  paper-plane-o: '\e261',
  history: '\e262',
  circle-thin: '\e263',
  header: '\e264',
  paragraph: '\e265',
  sliders: '\e266',
  share-alt: '\e267',
  share-alt-square: '\e268',
  bomb: '\e269',
  futbol-o: '\e26a',
  tty: '\e26b',
  binoculars: '\e26c',
  plug: '\e26d',
  slideshare: '\e26e',
  twitch: '\e26f',
  yelp: '\e270',
  newspaper-o: '\e271',
  wifi: '\e272',
  calculator: '\e273',
  paypal: '\e274',
  google-wallet: '\e275',
  cc-visa: '\e276',
  cc-mastercard: '\e277',
  cc-discover: '\e278',
  cc-amex: '\e279',
  cc-paypal: '\e27a',
  cc-stripe: '\e27b',
  bell-slash: '\e27c',
  bell-slash-o: '\e27d',
  trash: '\e27e',
  copyright: '\e27f',
  at: '\e280',
  eyedropper: '\e281',
  paint-brush: '\e282',
  birthday-cake: '\e283',
  area-chart: '\e284',
  pie-chart: '\e285',
  line-chart: '\e286',
  lastfm: '\e287',
  lastfm-square: '\e288',
  toggle-off: '\e289',
  toggle-on: '\e28a',
  bicycle: '\e28b',
  bus: '\e28c',
  ioxhost: '\e28d',
  angellist: '\e28e',
  cc: '\e28f',
  ils: '\e290',
  meanpath: '\e291',
  buysellads: '\e292',
  connectdevelop: '\e293',
  dashcube: '\e294',
  forumbee: '\e295',
  leanpub: '\e296',
  sellsy: '\e297',
  shirtsinbulk: '\e298',
  simplybuilt: '\e299',
  skyatlas: '\e29a',
  cart-plus: '\e29b',
  cart-arrow-down: '\e29c',
  diamond: '\e29d',
  ship: '\e29e',
  user-secret: '\e29f',
  motorcycle: '\e2a0',
  street-view: '\e2a1',
  heartbeat: '\e2a2',
  venus: '\e2a3',
  mars: '\e2a4',
  mercury: '\e2a5',
  intersex: '\e2a6',
  transgender-alt: '\e2a7',
  venus-double: '\e2a8',
  mars-double: '\e2a9',
  venus-mars: '\e2aa',
  mars-stroke: '\e2ab',
  mars-stroke-v: '\e2ac',
  mars-stroke-h: '\e2ad',
  neuter: '\e2ae',
  genderless: '\e2af',
  facebook-official: '\e2b0',
  pinterest-p: '\e2b1',
  whatsapp: '\e2b2',
  server: '\e2b3',
  user-plus: '\e2b4',
  user-times: '\e2b5',
  bed: '\e2b6',
  viacoin: '\e2b7',
  train: '\e2b8',
  subway: '\e2b9',
  medium: '\e2ba',
  y-combinator: '\e2bb',
  optin-monster: '\e2bc',
  opencart: '\e2bd',
  expeditedssl: '\e2be',
  battery-4: '\e2bf',
  battery-3: '\e2c0',
  battery-2: '\e2c1',
  battery-1: '\e2c2',
  battery-0: '\e2c3',
  mouse-pointer: '\e2c4',
  i-cursor: '\e2c5',
  object-group: '\e2c6',
  object-ungroup: '\e2c7',
  sticky-note: '\e2c8',
  sticky-note-o: '\e2c9',
  cc-jcb: '\e2ca',
  cc-diners-club: '\e2cb',
  clone: '\e2cc',
  balance-scale: '\e2cd',
  hourglass-o: '\e2ce',
  hourglass-1: '\e2cf',
  hourglass-2: '\e2d0',
  hourglass-3: '\e2d1',
  hourglass: '\e2d2',
  hand-grab-o: '\e2d3',
  hand-paper-o: '\e2d4',
  hand-scissors-o: '\e2d5',
  hand-lizard-o: '\e2d6',
  hand-spock-o: '\e2d7',
  hand-pointer-o: '\e2d8',
  hand-peace-o: '\e2d9',
  trademark: '\e2da',
  registered: '\e2db',
  creative-commons: '\e2dc',
  gg: '\e2dd',
  gg-circle: '\e2de',
  tripadvisor: '\e2df',
  odnoklassniki: '\e2e0',
  odnoklassniki-square: '\e2e1',
  get-pocket: '\e2e2',
  wikipedia-w: '\e2e3',
  safari: '\e2e4',
  chrome: '\e2e5',
  firefox: '\e2e6',
  opera: '\e2e7',
  internet-explorer: '\e2e8',
  television: '\e2e9',
  contao: '\e2ea',
  500px: '\e2eb',
  amazon: '\e2ec',
  calendar-plus-o: '\e2ed',
  calendar-minus-o: '\e2ee',
  calendar-times-o: '\e2ef',
  calendar-check-o: '\e2f0',
  industry: '\e2f1',
  map-pin: '\e2f2',
  map-signs: '\e2f3',
  map-o: '\e2f4',
  map: '\e2f5',
  commenting: '\e2f6',
  commenting-o: '\e2f7',
  houzz: '\e2f8',
  vimeo: '\e2f9',
  black-tie: '\e2fa',
  fonticons: '\e2fb',
);
