$sharkicons: (
  broom: '\e000',
  comment-mail-one: '\e001',
  comment-mail: '\e002',
  s2member: '\e003',
  websharks: '\e004',
  wp-kb-articles: '\e005',
  zencache-logo: '\e006',
  zencache: '\e007',
  wp-sharks: '\e008',
  wp-sharks-fin: '\e009',
  comet-cache: '\e00a',
  comet-cache-logo: '\e00b',
  comet-cache-comet: '\e00c',
  feat-watch: '\e00d',
  feat-server: '\e00e',
  feat-layers: '\e00f',
  feat-box: '\e010',
  feat-ellipsis: '\e011',
  typi-group: '\e012',
  enty-bookmark: '\e013',
  enty-bookmarks: '\e014',
  enty-open-book: '\e015',
  enty-archive: '\e016',
  enty-area-graph: '\e017',
  enty-bucket: '\e018',
  enty-colors: '\e019',
  enty-copy: '\e01a',
  enty-drive: '\e01b',
  enty-feather: '\e01c',
  enty-gauge: '\e01d',
  enty-hand: '\e01e',
  enty-lab-flask: '\e01f',
  enty-mask: '\e020',
  enty-medal: '\e021',
  enty-exclamation: '\e022',
  enty-palette: '\e023',
  enty-ruler: '\e024',
  enty-shop: '\e025',
  enty-basket: '\e026',
  enty-cart: '\e027',
  enty-traffic-cone: '\e028',
  enty-tree: '\e029',
  enty-trophy: '\e02a',
  enty-v-card: '\e02b',
  enty-google-hangouts: '\e02c',
  eleg-line-graph: '\e02d',
  eleg-male: '\e02e',
  eleg-female: '\e02f',
  eleg-atom: '\e030',
  broc-cart: '\e031',
  broc-crap: '\e032',
  broc-atom: '\e033',
  icom-headphones: '\e034',
  icom-barcode: '\e035',
  icom-user: '\e036',
  icom-users: '\e037',
  icom-user-plus: '\e038',
  icom-user-minus: '\e039',
  icom-user-check: '\e03a',
  icom-user-tie: '\e03b',
  icom-key: '\e03c',
  icom-key2: '\e03d',
  icom-happy: '\e03e',
  icom-happy2: '\e03f',
  icom-smile: '\e040',
  icom-smile2: '\e041',
  icom-tongue: '\e042',
  icom-tongue2: '\e043',
  icom-sad: '\e044',
  icom-sad2: '\e045',
  icom-wink: '\e046',
  icom-wink2: '\e047',
  icom-grin: '\e048',
  icom-grin2: '\e049',
  icom-cool: '\e04a',
  icom-cool2: '\e04b',
  icom-angry: '\e04c',
  icom-angry2: '\e04d',
  icom-evil: '\e04e',
  icom-evil2: '\e04f',
  icom-shocked: '\e050',
  icom-shocked2: '\e051',
  icom-baffled: '\e052',
  icom-baffled2: '\e053',
  icom-confused: '\e054',
  icom-confused2: '\e055',
  icom-neutral: '\e056',
  icom-neutral2: '\e057',
  icom-hipster: '\e058',
  icom-hipster2: '\e059',
  icom-wondering: '\e05a',
  icom-wondering2: '\e05b',
  icom-sleepy: '\e05c',
  icom-sleepy2: '\e05d',
  icom-frustrated: '\e05e',
  icom-frustrated2: '\e05f',
  icom-crying: '\e060',
  icom-crying2: '\e061',
  icom-spell-check: '\e062',
  icom-command-key: '\e063',
  icom-shift-key: '\e064',
  icom-control-key: '\e065',
  icom-option-key: '\e066',
  icom-wordpress: '\e067',
  icom-wordpress-square: '\e068',
  icom-yahoo: '\e069',
  icom-linux: '\e06a',
  icom-finder: '\e06b',
  icom-android: '\e06c',
  icom-reddit: '\e06d',
  icom-paypal: '\e06e',
  icom-git: '\e06f',
  octi-alignment-align: '\e070',
  octi-alignment-aligned-to: '\e071',
  octi-alignment-unalign: '\e072',
  octi-bookmark: '\e073',
  octi-broadcast: '\e074',
  octi-browser: '\e075',
  octi-checklist: '\e076',
  octi-circuit-board: '\e077',
  octi-clippy: '\e078',
  octi-cloud-download: '\e079',
  octi-cloud-upload: '\e07a',
  octi-comment: '\e07b',
  octi-comments: '\e07c',
  octi-tach: '\e07d',
  octi-device-camera: '\e07e',
  octi-device-camera-video: '\e07f',
  octi-device-desktop: '\e080',
  octi-diff: '\e081',
  octi-file-binary: '\e082',
  octi-file-media: '\e083',
  octi-file-submodule: '\e084',
  octi-file-symlink-directory: '\e085',
  octi-file-symlink-file: '\e086',
  octi-fold: '\e087',
  octi-git-branch: '\e088',
  octi-git-commit: '\e089',
  octi-git-compare: '\e08a',
  octi-git-merge: '\e08b',
  octi-git-pull-request: '\e08c',
  octi-graph: '\e08d',
  octi-home: '\e08e',
  octi-horizontal-rule: '\e08f',
  octi-key: '\e090',
  octi-light-bulb: '\e091',
  octi-link-external: '\e092',
  octi-lock: '\e093',
  octi-markdown: '\e094',
  octi-microscope: '\e095',
  octi-mirror: '\e096',
  octi-move-down: '\e097',
  octi-move-left: '\e098',
  octi-move-right: '\e099',
  octi-move-up: '\e09a',
  octi-mute: '\e09b',
  octi-organization: '\e09c',
  octi-package: '\e09d',
  octi-paintcan: '\e09e',
  octi-person: '\e09f',
  octi-plug: '\e0a0',
  octi-podium: '\e0a1',
  octi-pulse: '\e0a2',
  octi-puzzle: '\e0a3',
  octi-repo: '\e0a4',
  octi-repo-clone: '\e0a5',
  octi-repo-force-push: '\e0a6',
  octi-repo-forked: '\e0a7',
  octi-repo-pull: '\e0a8',
  octi-repo-push: '\e0a9',
  octi-rocket: '\e0aa',
  octi-ruby: '\e0ab',
  octi-screen-full: '\e0ac',
  octi-screen-normal: '\e0ad',
  octi-sign-in: '\e0ae',
  octi-sign-out: '\e0af',
  octi-split: '\e0b0',
  octi-squirrel: '\e0b1',
  octi-steps: '\e0b2',
  octi-tag: '\e0b3',
  octi-telescope: '\e0b4',
  octi-terminal: '\e0b5',
  octi-unfold: '\e0b6',
  octi-versions: '\e0b7',
  glass: '\e0b8',
  music: '\e0b9',
  search: '\e0ba',
  envelope-o: '\e0bb',
  heart: '\e0bc',
  star: '\e0bd',
  star-o: '\e0be',
  user: '\e0bf',
  film: '\e0c0',
  th-large: '\e0c1',
  th: '\e0c2',
  th-list: '\e0c3',
  check: '\e0c4',
  close: '\e0c5',
  search-plus: '\e0c6',
  search-minus: '\e0c7',
  power-off: '\e0c8',
  signal: '\e0c9',
  cog: '\e0ca',
  trash-o: '\e0cb',
  home: '\e0cc',
  file-o: '\e0cd',
  clock-o: '\e0ce',
  road: '\e0cf',
  download: '\e0d0',
  arrow-circle-o-down: '\e0d1',
  arrow-circle-o-up: '\e0d2',
  inbox: '\e0d3',
  play-circle-o: '\e0d4',
  repeat: '\e0d5',
  refresh: '\e0d6',
  list-alt: '\e0d7',
  lock: '\e0d8',
  flag: '\e0d9',
  headphones: '\e0da',
  volume-off: '\e0db',
  volume-down: '\e0dc',
  volume-up: '\e0dd',
  qrcode: '\e0de',
  barcode: '\e0df',
  tag: '\e0e0',
  tags: '\e0e1',
  book: '\e0e2',
  bookmark: '\e0e3',
  print: '\e0e4',
  camera: '\e0e5',
  font: '\e0e6',
  bold: '\e0e7',
  italic: '\e0e8',
  text-height: '\e0e9',
  text-width: '\e0ea',
  align-left: '\e0eb',
  align-center: '\e0ec',
  align-right: '\e0ed',
  align-justify: '\e0ee',
  list: '\e0ef',
  dedent: '\e0f0',
  indent: '\e0f1',
  video-camera: '\e0f2',
  image: '\e0f3',
  pencil: '\e0f4',
  map-marker: '\e0f5',
  adjust: '\e0f6',
  tint: '\e0f7',
  edit: '\e0f8',
  share-square-o: '\e0f9',
  check-square-o: '\e0fa',
  arrows: '\e0fb',
  step-backward: '\e0fc',
  fast-backward: '\e0fd',
  backward: '\e0fe',
  play: '\e0ff',
  pause: '\e100',
  stop: '\e101',
  forward: '\e102',
  fast-forward: '\e103',
  step-forward: '\e104',
  eject: '\e105',
  chevron-left: '\e106',
  chevron-right: '\e107',
  plus-circle: '\e108',
  minus-circle: '\e109',
  times-circle: '\e10a',
  check-circle: '\e10b',
  question-circle: '\e10c',
  info-circle: '\e10d',
  crosshairs: '\e10e',
  times-circle-o: '\e10f',
  check-circle-o: '\e110',
  ban: '\e111',
  arrow-left: '\e112',
  arrow-right: '\e113',
  arrow-up: '\e114',
  arrow-down: '\e115',
  mail-forward: '\e116',
  expand: '\e117',
  compress: '\e118',
  plus: '\e119',
  minus: '\e11a',
  asterisk: '\e11b',
  exclamation-circle: '\e11c',
  gift: '\e11d',
  leaf: '\e11e',
  fire: '\e11f',
  eye: '\e120',
  eye-slash: '\e121',
  exclamation-triangle: '\e122',
  plane: '\e123',
  calendar: '\e124',
  random: '\e125',
  comment: '\e126',
  magnet: '\e127',
  chevron-up: '\e128',
  chevron-down: '\e129',
  retweet: '\e12a',
  shopping-cart: '\e12b',
  folder: '\e12c',
  folder-open: '\e12d',
  arrows-v: '\e12e',
  arrows-h: '\e12f',
  bar-chart: '\e130',
  twitter-square: '\e131',
  facebook-square: '\e132',
  camera-retro: '\e133',
  key: '\e134',
  cogs: '\e135',
  comments: '\e136',
  thumbs-o-up: '\e137',
  thumbs-o-down: '\e138',
  star-half: '\e139',
  heart-o: '\e13a',
  sign-out: '\e13b',
  linkedin-square: '\e13c',
  thumb-tack: '\e13d',
  external-link: '\e13e',
  sign-in: '\e13f',
  trophy: '\e140',
  github-square: '\e141',
  upload: '\e142',
  lemon-o: '\e143',
  phone: '\e144',
  square-o: '\e145',
  bookmark-o: '\e146',
  phone-square: '\e147',
  twitter: '\e148',
  facebook: '\e149',
  github: '\e14a',
  unlock: '\e14b',
  credit-card: '\e14c',
  feed: '\e14d',
  hdd-o: '\e14e',
  bullhorn: '\e14f',
  bell-o: '\e150',
  certificate: '\e151',
  hand-o-right: '\e152',
  hand-o-left: '\e153',
  hand-o-up: '\e154',
  hand-o-down: '\e155',
  arrow-circle-left: '\e156',
  arrow-circle-right: '\e157',
  arrow-circle-up: '\e158',
  arrow-circle-down: '\e159',
  globe: '\e15a',
  wrench: '\e15b',
  tasks: '\e15c',
  filter: '\e15d',
  briefcase: '\e15e',
  arrows-alt: '\e15f',
  group: '\e160',
  chain: '\e161',
  cloud: '\e162',
  flask: '\e163',
  cut: '\e164',
  copy: '\e165',
  paperclip: '\e166',
  floppy-o: '\e167',
  square: '\e168',
  bars: '\e169',
  list-ul: '\e16a',
  list-ol: '\e16b',
  strikethrough: '\e16c',
  underline: '\e16d',
  table: '\e16e',
  magic: '\e16f',
  truck: '\e170',
  pinterest: '\e171',
  pinterest-square: '\e172',
  google-plus-square: '\e173',
  google-plus: '\e174',
  money: '\e175',
  caret-down: '\e176',
  caret-up: '\e177',
  caret-left: '\e178',
  caret-right: '\e179',
  columns: '\e17a',
  sort: '\e17b',
  sort-desc: '\e17c',
  sort-asc: '\e17d',
  envelope: '\e17e',
  linkedin: '\e17f',
  rotate-left: '\e180',
  gavel: '\e181',
  dashboard: '\e182',
  comment-o: '\e183',
  comments-o: '\e184',
  bolt: '\e185',
  sitemap: '\e186',
  umbrella: '\e187',
  clipboard: '\e188',
  lightbulb-o: '\e189',
  exchange: '\e18a',
  cloud-download: '\e18b',
  cloud-upload: '\e18c',
  user-md: '\e18d',
  stethoscope: '\e18e',
  suitcase: '\e18f',
  bell: '\e190',
  coffee: '\e191',
  cutlery: '\e192',
  file-text-o: '\e193',
  building-o: '\e194',
  hospital-o: '\e195',
  ambulance: '\e196',
  medkit: '\e197',
  fighter-jet: '\e198',
  beer: '\e199',
  h-square: '\e19a',
  plus-square: '\e19b',
  angle-double-left: '\e19c',
  angle-double-right: '\e19d',
  angle-double-up: '\e19e',
  angle-double-down: '\e19f',
  angle-left: '\e1a0',
  angle-right: '\e1a1',
  angle-up: '\e1a2',
  angle-down: '\e1a3',
  desktop: '\e1a4',
  laptop: '\e1a5',
  tablet: '\e1a6',
  mobile: '\e1a7',
  circle-o: '\e1a8',
  quote-left: '\e1a9',
  quote-right: '\e1aa',
  spinner: '\e1ab',
  circle: '\e1ac',
  mail-reply: '\e1ad',
  github-alt: '\e1ae',
  folder-o: '\e1af',
  folder-open-o: '\e1b0',
  smile-o: '\e1b1',
  frown-o: '\e1b2',
  meh-o: '\e1b3',
  gamepad: '\e1b4',
  keyboard-o: '\e1b5',
  flag-o: '\e1b6',
  flag-checkered: '\e1b7',
  terminal: '\e1b8',
  code: '\e1b9',
  mail-reply-all: '\e1ba',
  star-half-empty: '\e1bb',
  location-arrow: '\e1bc',
  crop: '\e1bd',
  code-fork: '\e1be',
  chain-broken: '\e1bf',
  question: '\e1c0',
  info: '\e1c1',
  exclamation: '\e1c2',
  superscript: '\e1c3',
  subscript: '\e1c4',
  eraser: '\e1c5',
  puzzle-piece: '\e1c6',
  microphone: '\e1c7',
  microphone-slash: '\e1c8',
  shield: '\e1c9',
  calendar-o: '\e1ca',
  fire-extinguisher: '\e1cb',
  rocket: '\e1cc',
  maxcdn: '\e1cd',
  chevron-circle-left: '\e1ce',
  chevron-circle-right: '\e1cf',
  chevron-circle-up: '\e1d0',
  chevron-circle-down: '\e1d1',
  html5: '\e1d2',
  css3: '\e1d3',
  anchor: '\e1d4',
  unlock-alt: '\e1d5',
  bullseye: '\e1d6',
  ellipsis-h: '\e1d7',
  ellipsis-v: '\e1d8',
  rss-square: '\e1d9',
  play-circle: '\e1da',
  ticket: '\e1db',
  minus-square: '\e1dc',
  minus-square-o: '\e1dd',
  level-up: '\e1de',
  level-down: '\e1df',
  check-square: '\e1e0',
  pencil-square: '\e1e1',
  external-link-square: '\e1e2',
  share-square: '\e1e3',
  compass: '\e1e4',
  caret-square-o-down: '\e1e5',
  caret-square-o-up: '\e1e6',
  caret-square-o-right: '\e1e7',
  eur: '\e1e8',
  gbp: '\e1e9',
  dollar: '\e1ea',
  inr: '\e1eb',
  cny: '\e1ec',
  rouble: '\e1ed',
  krw: '\e1ee',
  bitcoin: '\e1ef',
  file: '\e1f0',
  file-text: '\e1f1',
  sort-alpha-asc: '\e1f2',
  sort-alpha-desc: '\e1f3',
  sort-amount-asc: '\e1f4',
  sort-amount-desc: '\e1f5',
  sort-numeric-asc: '\e1f6',
  sort-numeric-desc: '\e1f7',
  thumbs-up: '\e1f8',
  thumbs-down: '\e1f9',
  youtube-square: '\e1fa',
  youtube: '\e1fb',
  xing: '\e1fc',
  xing-square: '\e1fd',
  youtube-play: '\e1fe',
  dropbox: '\e1ff',
  stack-overflow: '\e200',
  instagram: '\e201',
  flickr: '\e202',
  adn: '\e203',
  bitbucket: '\e204',
  bitbucket-square: '\e205',
  tumblr: '\e206',
  tumblr-square: '\e207',
  long-arrow-down: '\e208',
  long-arrow-up: '\e209',
  long-arrow-left: '\e20a',
  long-arrow-right: '\e20b',
  apple: '\e20c',
  windows: '\e20d',
  android: '\e20e',
  linux: '\e20f',
  dribbble: '\e210',
  skype: '\e211',
  foursquare: '\e212',
  trello: '\e213',
  female: '\e214',
  male: '\e215',
  gittip: '\e216',
  sun-o: '\e217',
  moon-o: '\e218',
  archive: '\e219',
  bug: '\e21a',
  vk: '\e21b',
  weibo: '\e21c',
  renren: '\e21d',
  pagelines: '\e21e',
  stack-exchange: '\e21f',
  arrow-circle-o-right: '\e220',
  arrow-circle-o-left: '\e221',
  caret-square-o-left: '\e222',
  dot-circle-o: '\e223',
  wheelchair: '\e224',
  vimeo-square: '\e225',
  try: '\e226',
  plus-square-o: '\e227',
  space-shuttle: '\e228',
  slack: '\e229',
  envelope-square: '\e22a',
  wordpress: '\e22b',
  openid: '\e22c',
  bank: '\e22d',
  graduation-cap: '\e22e',
  yahoo: '\e22f',
  google: '\e230',
  reddit: '\e231',
  reddit-square: '\e232',
  stumbleupon-circle: '\e233',
  stumbleupon: '\e234',
  delicious: '\e235',
  digg: '\e236',
  pied-piper: '\e237',
  pied-piper-alt: '\e238',
  drupal: '\e239',
  joomla: '\e23a',
  language: '\e23b',
  fax: '\e23c',
  building: '\e23d',
  child: '\e23e',
  paw: '\e23f',
  spoon: '\e240',
  cube: '\e241',
  cubes: '\e242',
  behance: '\e243',
  behance-square: '\e244',
  steam: '\e245',
  steam-square: '\e246',
  recycle: '\e247',
  automobile: '\e248',
  cab: '\e249',
  tree: '\e24a',
  spotify: '\e24b',
  deviantart: '\e24c',
  soundcloud: '\e24d',
  database: '\e24e',
  file-pdf-o: '\e24f',
  file-word-o: '\e250',
  file-excel-o: '\e251',
  file-powerpoint-o: '\e252',
  file-image-o: '\e253',
  file-archive-o: '\e254',
  file-audio-o: '\e255',
  file-movie-o: '\e256',
  file-code-o: '\e257',
  vine: '\e258',
  codepen: '\e259',
  jsfiddle: '\e25a',
  life-bouy: '\e25b',
  circle-o-notch: '\e25c',
  ra: '\e25d',
  empire: '\e25e',
  git-square: '\e25f',
  git: '\e260',
  hacker-news: '\e261',
  tencent-weibo: '\e262',
  qq: '\e263',
  wechat: '\e264',
  paper-plane: '\e265',
  paper-plane-o: '\e266',
  history: '\e267',
  circle-thin: '\e268',
  header: '\e269',
  paragraph: '\e26a',
  sliders: '\e26b',
  share-alt: '\e26c',
  share-alt-square: '\e26d',
  bomb: '\e26e',
  futbol-o: '\e26f',
  tty: '\e270',
  binoculars: '\e271',
  plug: '\e272',
  slideshare: '\e273',
  twitch: '\e274',
  yelp: '\e275',
  newspaper-o: '\e276',
  wifi: '\e277',
  calculator: '\e278',
  paypal: '\e279',
  google-wallet: '\e27a',
  cc-visa: '\e27b',
  cc-mastercard: '\e27c',
  cc-discover: '\e27d',
  cc-amex: '\e27e',
  cc-paypal: '\e27f',
  cc-stripe: '\e280',
  bell-slash: '\e281',
  bell-slash-o: '\e282',
  trash: '\e283',
  copyright: '\e284',
  at: '\e285',
  eyedropper: '\e286',
  paint-brush: '\e287',
  birthday-cake: '\e288',
  area-chart: '\e289',
  pie-chart: '\e28a',
  line-chart: '\e28b',
  lastfm: '\e28c',
  lastfm-square: '\e28d',
  toggle-off: '\e28e',
  toggle-on: '\e28f',
  bicycle: '\e290',
  bus: '\e291',
  ioxhost: '\e292',
  angellist: '\e293',
  cc: '\e294',
  ils: '\e295',
  meanpath: '\e296',
  buysellads: '\e297',
  connectdevelop: '\e298',
  dashcube: '\e299',
  forumbee: '\e29a',
  leanpub: '\e29b',
  sellsy: '\e29c',
  shirtsinbulk: '\e29d',
  simplybuilt: '\e29e',
  skyatlas: '\e29f',
  cart-plus: '\e2a0',
  cart-arrow-down: '\e2a1',
  diamond: '\e2a2',
  ship: '\e2a3',
  user-secret: '\e2a4',
  motorcycle: '\e2a5',
  street-view: '\e2a6',
  heartbeat: '\e2a7',
  venus: '\e2a8',
  mars: '\e2a9',
  mercury: '\e2aa',
  intersex: '\e2ab',
  transgender-alt: '\e2ac',
  venus-double: '\e2ad',
  mars-double: '\e2ae',
  venus-mars: '\e2af',
  mars-stroke: '\e2b0',
  mars-stroke-v: '\e2b1',
  mars-stroke-h: '\e2b2',
  neuter: '\e2b3',
  genderless: '\e2b4',
  facebook-official: '\e2b5',
  pinterest-p: '\e2b6',
  whatsapp: '\e2b7',
  server: '\e2b8',
  user-plus: '\e2b9',
  user-times: '\e2ba',
  bed: '\e2bb',
  viacoin: '\e2bc',
  train: '\e2bd',
  subway: '\e2be',
  medium: '\e2bf',
  y-combinator: '\e2c0',
  optin-monster: '\e2c1',
  opencart: '\e2c2',
  expeditedssl: '\e2c3',
  battery-4: '\e2c4',
  battery-3: '\e2c5',
  battery-2: '\e2c6',
  battery-1: '\e2c7',
  battery-0: '\e2c8',
  mouse-pointer: '\e2c9',
  i-cursor: '\e2ca',
  object-group: '\e2cb',
  object-ungroup: '\e2cc',
  sticky-note: '\e2cd',
  sticky-note-o: '\e2ce',
  cc-jcb: '\e2cf',
  cc-diners-club: '\e2d0',
  clone: '\e2d1',
  balance-scale: '\e2d2',
  hourglass-o: '\e2d3',
  hourglass-1: '\e2d4',
  hourglass-2: '\e2d5',
  hourglass-3: '\e2d6',
  hourglass: '\e2d7',
  hand-grab-o: '\e2d8',
  hand-paper-o: '\e2d9',
  hand-scissors-o: '\e2da',
  hand-lizard-o: '\e2db',
  hand-spock-o: '\e2dc',
  hand-pointer-o: '\e2dd',
  hand-peace-o: '\e2de',
  trademark: '\e2df',
  registered: '\e2e0',
  creative-commons: '\e2e1',
  gg: '\e2e2',
  gg-circle: '\e2e3',
  tripadvisor: '\e2e4',
  odnoklassniki: '\e2e5',
  odnoklassniki-square: '\e2e6',
  get-pocket: '\e2e7',
  wikipedia-w: '\e2e8',
  safari: '\e2e9',
  chrome: '\e2ea',
  firefox: '\e2eb',
  opera: '\e2ec',
  internet-explorer: '\e2ed',
  television: '\e2ee',
  contao: '\e2ef',
  500px: '\e2f0',
  amazon: '\e2f1',
  calendar-plus-o: '\e2f2',
  calendar-minus-o: '\e2f3',
  calendar-times-o: '\e2f4',
  calendar-check-o: '\e2f5',
  industry: '\e2f6',
  map-pin: '\e2f7',
  map-signs: '\e2f8',
  map-o: '\e2f9',
  map: '\e2fa',
  commenting: '\e2fb',
  commenting-o: '\e2fc',
  houzz: '\e2fd',
  vimeo: '\e2fe',
  black-tie: '\e2ff',
  fonticons: '\e300',
);
