@mixin sharkicons-font-family {
  @at-root {
    @font-face {
      font-family:            'sharkicons';
      src:                    url('fonts/sharkicons.eot?htqeeg');
      src:                    url('fonts/sharkicons.eot?#iefixhtqeeg') format('embedded-opentype'), url('fonts/sharkicons.ttf?htqeeg') format('truetype'), url('fonts/sharkicons.woff?htqeeg') format('woff'), url('fonts/sharkicons.svg?htqeeg#sharkicons') format('svg');
      font-weight:            normal;
      font-style:             normal;
    }
  }
}

@mixin sharkicon-wsi-styles {
  @at-root {
    .wsi::before {
      font:                   normal normal normal 14px/1 sharkicons;
      text-rendering:         optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      font-smoothing:         antialiased;
      display:                inline-block;
      font-size:              inherit;
      text-decoration:        inherit;
      text-transform:         none;
    }

    .wsi-comment-mail::before {
      content:                '\e000';
      position:               relative;
      top:                   .2em;
    }

    .wsi-comment-mail-one::before {
      content:                '\e001';
      position:               relative;
      top:                   .2em;
    }

    .wsi-zencache::before {
      content:                '\e002';
    }

    .wsi-zencache-logo::before {
      content:                '\e003';
    }

    .wsi-wp-kb-articles::before {
      content:                '\e004';
    }

    .wsi-s2member::before {
      content:                '\e005';
    }

    .wsi-logo::before {
      content:                '\e006';
    }

    .wsi-sharks::before {
      content:                '\e008';
    }

    .wsi-broom::before {
      content:                '\e02b';
    }
  }
}

@mixin sharkicon($icon) {
  &::before {
    content:                  quote($icon);
    font:                     normal normal normal 14px/1 sharkicons;
    text-rendering:           optimizeLegibility;
    -webkit-font-smoothing:   antialiased;
    font-smoothing:           antialiased;
    display:                  inline-block;
    font-size:                inherit;
    text-decoration:          inherit;
    text-transform:           none;
  }
}
